In [1]:
import time
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.exc import OperationalError

In [2]:
# ------------------------------------------------------------------
# 1. connection string ── matches:
#    docker run … -e MYSQL_ROOT_PASSWORD=rootpass -e MYSQL_DATABASE=mydb …
# ------------------------------------------------------------------
ENGINE_URL = "mysql+pymysql://root:rootpass@127.0.0.1:3306/mydb"
engine = create_engine(ENGINE_URL, pool_pre_ping=True)

# ------------------------------------------------------------------
# 2. (optional but handy) wait until the container is ready
# ------------------------------------------------------------------
for _ in range(30):           # try up to ~30 s
    try:
        with engine.connect() as conn:
            conn.execute("SELECT 1")
        break                 # ✅ connection succeeded
    except OperationalError:
        print("MySQL not up yet … retrying")
        time.sleep(1)
else:
    raise RuntimeError("Gave up waiting for MySQL on port 3306")

# ------------------------------------------------------------------
# 3. explore the tables
# ------------------------------------------------------------------
query = """
SELECT
    table_name,
    table_rows     AS approx_rows,
    round(data_length/1024/1024,2) AS mb_data,
    round(index_length/1024/1024,2) AS mb_index
FROM information_schema.tables
WHERE table_schema = 'mydb'
ORDER BY table_rows DESC;
"""

df = pd.read_sql(query, engine)
print(df.head(10))

MySQL not up yet … retrying
MySQL not up yet … retrying
MySQL not up yet … retrying
MySQL not up yet … retrying
MySQL not up yet … retrying
MySQL not up yet … retrying

KeyboardInterrupt:

In [ ]:
import os
import csv, re, pathlib, sys
from collections import defaultdict
# import pandas as pd
import mysql.connector as mc
# import textwrap
from dotenv import load_dotenv

# Load environment variables
load_dotenv('/home/mohammed/Desktop/tech_projects/growbal/envs/1.env')

# ── DB CONFIG (from env) ───────────────────────────────────────────
HOST     = os.getenv("MYSQL_AUTH_HOST", "127.0.0.1")
PORT     = int(os.getenv("MYSQL_AUTH_PORT", "3306"))
USER     = os.getenv("MYSQL_AUTH_USERNAME", "root")
PASSWORD = os.getenv("MYSQL_AUTH_PASSWORD", "")
SCHEMA   = os.getenv("MYSQL_AUTH_DATABASE", "growbal")

# ── CONNECT ────────────────────────────────────────────────────────
cnx = mc.connect(
    host=HOST,
    port=PORT,
    user=USER,
    password=PASSWORD,
    database=SCHEMA,
    auth_plugin="mysql_native_password",
)

cur = cnx.cursor(dictionary=True)

# ── TABLE-LEVEL METADATA ───────────────────────────────────────────
cur.execute(f"""
    SELECT
        TABLE_NAME      AS tbl,
        COALESCE(TABLE_COMMENT, '') AS comment,
        COALESCE(TABLE_ROWS, 0)     AS rows_exact
    FROM information_schema.tables
    WHERE TABLE_SCHEMA = %s
    ORDER BY TABLE_NAME;
""", (SCHEMA,))
tbl_meta = {row["tbl"]: row for row in cur.fetchall()}

# ── COLUMN-LEVEL DETAILS (unchanged) ───────────────────────────────
records = []
tables = defaultdict(list)
for tbl_name, meta in tbl_meta.items():
    cur.execute(f"DESCRIBE `{SCHEMA}`.`{tbl_name}`;")
    for idx, col in enumerate(cur.fetchall(), 1):
        records.append({
            "table":  tbl_name,
            "column": col["Field"],
            "key":    col["Key"],
        })
        tables[tbl_name].append((col["Field"], col["Key"].strip().upper()))

# map names → canonical case for easy lookup later
table_names = {t.lower(): t for t in tables}

def guess_target_table(col_name: str) -> str | None:
    """
    Try to guess which table  <xxx>_id  points to.
    Returns canonical table name or None if no match.
    """
    stem = re.sub(r"_?id$", "", col_name, flags=re.I)
    for cand in (stem, stem + "s", stem + "es"):
        cand_tbl = table_names.get(cand.lower())
        if cand_tbl:
            return cand_tbl
    return None

# ── pass 2:  build DBML ────────────────────────────────────────────────────────
lines: list[str] = []
refs:  list[tuple[str, str, str]] = []   # (from_tbl.col, to_tbl.col, cardinality)

TYPE_GUESS = {
    "id":            "integer",
    "date":          "timestamp",
    "time":          "timestamp",
    "deleted":       "boolean",
    "is_":           "boolean",
    "active":        "boolean",
    "name":          "varchar",
    "title":         "varchar",
    "description":   "text",
    "message":       "text",
    "label":         "varchar",
    "path":          "varchar",
    "link":          "varchar",
}

def guess_type(col: str) -> str:
    for frag, t in TYPE_GUESS.items():
        if col.lower().startswith(frag) or col.lower().endswith(frag):
            return t
    return "varchar"

for tbl, cols in tables.items():
    lines.append(f"Table {tbl} {{")
    for col, key in cols:
        flags = []
        if key == "PRI":
            flags.append("primary key")
        elif key == "UNI":
            flags.append("unique")
        # nullable inference: treat empties as nullable, others not
        if key:
            flags.append("not null")
        dbml_flags = f" [{', '.join(flags)}]" if flags else ""
        col_type = guess_type(col)
        lines.append(f"  {col} {col_type}{dbml_flags}")

        # foreign-key detection
        if key == "MUL" and col.lower() != "id":
            target_tbl = guess_target_table(col)
            if target_tbl:
                refs.append((f"{tbl}.{col}", f"{target_tbl}.id", "many-to-one"))
    lines.append("}\n")

# writer = csv.writer(sys.stdout)
# add Ref … lines at the end
for frm, to, card in refs:
    # lines.append(f"Ref {card}: {frm} > {to}")
    if to=="user.id": to = "user.user_id"
    if to=="promo_codes.id": to = "promo_codes.promo_code_id"
    if to=="plan.id": to = "plan.plan_id"
    if to=="hero_section.id": to = "hero_section.hero_section_id"
    if to=="media_collection.id": to = "media_collection.media_collection_id"
    lines.append(f"Ref : {frm} > {to}")

print("\n".join(lines))

# # ── PRINT AS CSV ───────────────────────────────────────────────────
# writer = csv.writer(sys.stdout)      # ⇐ writes straight to the console
# writer.writerow(["column", "table", "key"])
# for rec in records:
#     writer.writerow([rec["column"], rec["table"], rec["key"]])

Table ads {
  id integer [primary key, not null]
  active boolean
  deleted boolean
  description text
  picture_id integer [not null]
  user_user_id integer [not null]
  ordre varchar
  sub_title varchar
  title varchar
  type varchar
  creation_date timestamp
  link varchar
  small_picture_id integer [not null]
}

Table advantages {
  id integer [primary key, not null]
  creation_date timestamp
  deleted boolean
  description text
  title varchar
  profile_id integer [not null]
  advantages_list varchar
  is_deleted boolean
  agent_service_provider_id integer [not null]
  profile_ez_id integer [not null]
  user_id integer [not null]
  tax_id integer [not null]
}

Table advantages_subtitle {
  advantages_id integer [primary key, not null]
  subtitle_id integer [primary key, not null]
}

Table agent_interest_investor_request {
  id integer [primary key, not null]
  creation_date timestamp
  agent_id integer [not null]
  investor_id integer [not null]
  task_id integer [not null]
}

Table attach_to {
  id integer [primary key, not null]
  deleted boolean
  name varchar [unique, not null]
}

Table benefit_program {
  id integer [primary key, not null]
  deleted boolean
  description text
  title varchar
  program_id integer [not null]
}

Table benefits {
  id integer [primary key, not null]
  name varchar
  deleted boolean
}

Table bill {
  id integer [primary key, not null]
  amout_payed varchar
  creation_date timestamp
  file_path varchar
  is_deleted boolean
  name varchar
  reference varchar
  year varchar
  user_id integer [not null]
  payment_id integer [not null]
}

Table block_agent_by_ez {
  id integer [primary key, not null]
  agent_id integer [not null]
  ez_id integer [not null]
}

Table blog {
  id integer [primary key, not null]
  country varchar
  creation_date timestamp
  description text
  is_active boolean
  is_deleted boolean
  region varchar
  title varchar
  image_id integer [not null]
  user_id integer [not null]
  blog_date timestamp
  short_description text
  tag varchar
  writer varchar
  writer_photo_id integer [not null]
  url_profile varchar
}

Table business_type {
  id integer [primary key, not null]
  creation_date timestamp
  is_deleted boolean
  business_type varchar
  user_id integer [not null]
  establishment_id integer [not null]
  deleted boolean
  name varchar
}

Table button {
  button_id integer [primary key, not null]
  creation_date timestamp
  is_active boolean
  is_deleted boolean
  name varchar
  url varchar
  citi_zen_ship_residency_citizenship_residency_id integer [not null]
  economic_zone_id integer [not null]
  hero_section_id integer [not null]
  taxs_id integer [not null]
}

Table category_ez {
  id integer [primary key, not null]
  creation_date timestamp
  title varchar
}

Table category_ez_establishment {
  category_ez_id integer [primary key, not null]
  establishment_id integer [primary key, not null]
}

Table citizenship_residency {
  citizenship_residency_id integer [primary key, not null]
  country varchar
  creation_date timestamp
  description text
  is_active boolean
  is_deleted boolean
  region varchar
  sub_title varchar
  title varchar
  image_id integer [not null]
  user_id integer [not null]
  country_id integer [not null]
  region_id integer [not null]
}

Table city {
  id integer [primary key, not null]
  name varchar
  country_id integer [not null]
}

Table countries {
  id integer [primary key, not null]
  code varchar
  currency varchar
  flags varchar
  name_ang varchar
  name_ara varchar
  suffixes varchar
  region_id integer [not null]
}

Table country_diversities {
  id integer [primary key, not null]
  title varchar
  country_page_id integer [not null]
  image_id integer [not null]
}

Table country_domestic_products {
  id integer [primary key, not null]
  description text
  value varchar
  country_page_id integer [not null]
}

Table country_explore_section {
  id integer [primary key, not null]
  description text
  country_page_id integer [not null]
}

Table country_hero_section {
  id integer [primary key, not null]
  deleted boolean
  description text
  country_page_id integer [not null]
  cover_picture_id integer [not null]
}

Table country_over_view {
  id integer [primary key, not null]
  deleted boolean
  description text
  country_page_id integer [not null]
  cover_picture_id integer [not null]
}

Table country_page {
  id integer [primary key, not null]
  creation_date timestamp
  deleted boolean
  country_id integer [not null]
}

Table country_sectors {
  id integer [primary key, not null]
  description text
  sector_name varchar
  country_page_id integer [not null]
  sector_icon_id integer [not null]
}

Table country_url_videos {
  id integer [primary key, not null]
  creation_date timestamp
  url_video varchar
  country_explore_section_id integer [not null]
}

Table discussion {
  id integer [primary key, not null]
  archieved varchar
  creation_date timestamp
  name varchar
  type varchar
}

Table economic_zone {
  id integer [primary key, not null]
  country varchar
  creation_date timestamp
  description text
  is_active boolean
  is_deleted boolean
  region varchar
  sub_title varchar
  title varchar
  image_id integer [not null]
  user_id integer [not null]
  country_id integer [not null]
  region_id integer [not null]
}

Table element_sous_service {
  id integer [primary key, not null]
  description text
  name varchar [unique, not null]
  sous_service_id integer [not null]
  deleted boolean
}

Table establishment {
  id integer [primary key, not null]
  adress varchar
  blocked varchar
  company_name varchar [unique, not null]
  creation_date timestamp
  deleted boolean
  description text
  designation varchar
  email varchar [unique, not null]
  expiry_date timestamp
  founded_in varchar
  password varchar
  phone varchar
  representative_name varchar
  slug varchar [unique, not null]
  sub_name varchar
  tax_number varchar [unique, not null]
  type varchar
  verified varchar
  web_site varchar
  city_id integer [not null]
  country_id integer [not null]
  cover_picture_id integer [not null]
  licence_id integer [not null]
  logo_id integer [not null]
  profile_id integer [unique, not null]
  region_id integer [not null]
  type_ez_id integer [not null]
  user_user_id integer [unique, not null]
  agency varchar
  vision varchar
  mobile varchar
}

Table establishment_agent {
  id integer [primary key, not null]
  deleted boolean
  establishment_id integer [not null]
  profile_id integer [not null]
}

Table establishment_discussion_members {
  id integer [primary key, not null]
  deleted boolean
  discussion_id integer [not null]
  establishment_id integer [not null]
}

Table establishment_message_receiver {
  id integer [primary key, not null]
  read_date timestamp
  readed varchar
  establishment_id integer [not null]
  message_id integer [not null]
  email_notification_readed varchar
}

Table establishment_program {
  id integer [primary key, not null]
  active boolean
  creation_date timestamp
  deleted boolean
  establishment_id integer [not null]
  program_id integer [not null]
}

Table establishment_services {
  id integer [primary key, not null]
  deleted boolean
  establishment_id integer [not null]
  service_id integer [not null]
}

Table etablishment_attach_to {
  id integer [primary key, not null]
  attach_to_id integer [not null]
  establishment_id integer [not null]
}

Table etablishment_element_services {
  id integer [primary key, not null]
  deleted boolean
  element_sous_service_id integer [not null]
  establishment_id integer [not null]
}

Table etablishment_interests {
  id integer [primary key, not null]
  deleted boolean
  establishment_id integer [not null]
  interests_id integer [not null]
}

Table etablishment_sector_of_activity {
  id integer [primary key, not null]
  deleted boolean
  establishment_id integer [not null]
  sector_of_activity_id integer [not null]
}

Table etablishment_sous_services {
  id integer [primary key, not null]
  deleted boolean
  establishment_id integer [not null]
  sous_service_id integer [not null]
}

Table experience {
  id integer [primary key, not null]
  deleted boolean
  description text
  end_date timestamp
  start_date timestamp
  title_of_job varchar
  city_id integer [not null]
  country_id integer [not null]
  image_id integer [not null]
  region_id integer [not null]
  user_user_id integer [not null]
  company_link varchar
  company_name varchar
}

Table feed_back {
  id integer [primary key, not null]
  creation_date timestamp
  message text
  rating varchar
  agent_id integer [not null]
  ez_id integer [not null]
  investor_id integer [not null]
  from_id integer [not null]
  to_id integer [not null]
}

Table hero_section {
  hero_section_id integer [primary key, not null]
  country varchar
  creation_date timestamp
  description text
  is_active boolean
  is_deleted boolean
  region varchar
  sub_title varchar
  subject varchar
  title varchar
  image_id integer [not null]
  user_id integer [not null]
  country_id integer [not null]
  region_id integer [not null]
}

Table industry {
  id integer [primary key, not null]
  creation_date timestamp
  deleted boolean
  description text
  user_id integer [not null]
  profile_id integer [not null]
}

Table inquiery {
  id integer [primary key, not null]
  business_name varchar
  comment varchar
  creation_date timestamp
  deleted boolean
  inquiery_type varchar
  state varchar
  agent_id integer [not null]
  ez_id integer [not null]
  business_type_id integer [not null]
  investor_id integer [not null]
  media_collection_media_collection_id integer [not null]
  expiry_date timestamp
  licence_id integer [not null]
  message text
  ordre_id integer [not null]
  transaction_id integer
  reference varchar
}

Table interests {
  id integer [primary key, not null]
  deleted boolean
  name varchar [unique, not null]
}

Table investor_interest_agent_offres {
  id integer [primary key, not null]
  creation_date timestamp
  agent_id integer [not null]
  investor_id integer [not null]
  offre_id integer [not null]
}

Table key_numbers {
  id integer [primary key, not null]
  creation_date timestamp
  industry varchar
  investors varchar
  is_deleted boolean
  new_jobs varchar
  partners varchar
  agent_service_provider_id integer [not null]
  profile_ez_id integer [not null]
  user_id integer [not null]
}

Table key_value {
  id integer [primary key, not null]
  creation_date timestamp
  deleted boolean
  label varchar
  value varchar
  industry_id integer [not null]
  profile_id integer [not null]
  program_id integer [not null]
  country_hero_section_id integer [not null]
  country_over_view_id integer [not null]
}

Table landing_citi_zen_ship_page {
  id integer [primary key, not null]
  deleted boolean
  sub_title varchar
  title varchar
  cover_picture_id integer [not null]
  user_user_id integer [not null]
  region_id integer [not null]
}

Table landing_page_agent {
  id integer [primary key, not null]
  creation_date timestamp
  deleted boolean
  sub_title varchar
  title varchar
  cover_picture_id integer [not null]
  region_id integer [not null]
  user_user_id integer [not null]
}

Table landing_page_ez {
  id integer [primary key, not null]
  deleted boolean
  sub_title varchar
  title varchar
  cover_picture_id integer [not null]
  user_user_id integer [not null]
  region_id integer [not null]
}

Table landing_tax_page {
  id integer [primary key, not null]
  deleted boolean
  sub_title varchar
  title varchar
  cover_picture_id integer [not null]
  user_user_id integer [not null]
  region_id integer [not null]
}

Table media {
  id integer [primary key, not null]
  content_type varchar
  creation_date timestamp
  deleted boolean
  label varchar
  path varchar
  document_collection_media_collection_id integer [not null]
  media_collection_id integer [not null]
  user_media_user_id integer [not null]
  media_user_creation_user_id integer [not null]
  message_id integer [not null]
  message_ordre_id integer [not null]
  profile_id integer [not null]
  country_over_view_id integer [not null]
  task_id integer [not null]
}

Table media_collection {
  media_collection_id integer [primary key, not null]
  creation_date timestamp
  deleted boolean
  description text
  label varchar
  type varchar
  user_id integer [not null]
  profile_id integer [not null]
}

Table message {
  id integer [primary key, not null]
  archieved varchar
  contenu varchar
  date timestamp
  type varchar
  discussion_id integer [not null]
  sender_id integer [not null]
  input_message_type varchar
  ordre_id integer [not null]
  ordre varchar [not null]
}

Table message_ordre {
  id integer [primary key, not null]
  contenu varchar
  date timestamp
  ordre_id integer [not null]
  receiver_id integer [not null]
  sender_id integer [not null]
}

Table notification {
  id integer [primary key, not null]
  readed varchar
  content varchar
  creation_date timestamp
  link varchar
  subject varchar
  topic varchar
  sender_id integer [not null]
}

Table offre {
  id integer [primary key, not null]
  active boolean
  creation_date timestamp
  deleted boolean
  description text
  end_date timestamp
  short_description text
  sponsored varchar
  start_date timestamp
  title varchar
  type varchar
  establishment_id integer [not null]
  image_id integer [not null]
  slug varchar
  country_id integer [not null]
}

Table options {
  id integer [primary key, not null]
  creation_date timestamp
  is_deleted boolean
  title varchar
  tax_benefits_id integer [not null]
}

Table options_requirement {
  id integer [primary key, not null]
  name varchar
  requirement_id integer [not null]
  process_time_id integer [not null]
}

Table options_sub_title {
  options_id integer [primary key, not null]
  sub_title_id integer [primary key, not null]
}

Table ordre {
  id integer [primary key, not null]
  creation_date timestamp
  deleted boolean
  delievery_date timestamp
  description text
  expiry_date timestamp
  price varchar
  state varchar
  title varchar
  offre_id integer [not null]
  investor_id integer [not null]
  message_id integer [not null]
  item_transaction_id integer
  party_id_buyer varchar
  party_id_seller varchar
  transaction_id integer
  verification_required_buyer varchar
  verification_required_seller varchar
  disbursement_method_selected varchar
  transaction varchar
  raison_reject varchar
  reference varchar
  received_date timestamp
  payment_sent varchar
}

Table ordre_services {
  id integer [primary key, not null]
  ordre_id integer [not null]
  service_id integer [not null]
}

Table partner_featured {
  partner_id integer [primary key, not null]
  active boolean
  deleted boolean
  type varchar
  establishment_id integer [not null]
}

Table password_reset_token {
  id integer [primary key, not null]
  expiry_date timestamp
  token varchar
  user_id integer [not null]
}

Table payment {
  id integer [primary key, not null]
  amount_payed varchar
  creation_date timestamp
  is_deleted boolean
  media_bill varchar
  payment_date timestamp
  subscription_id integer [not null]
  user_id integer [not null]
}

Table plan {
  plan_id integer [primary key, not null]
  creation_date timestamp
  is_active boolean
  is_deleted boolean
  name varchar
  nbr_days varchar
  new_price varchar
  old_price varchar
  establishment_id integer [not null]
  user_id integer [not null]
}

Table plan_rule {
  rule_id integer [primary key, not null]
  plan_id integer [primary key, not null]
}

Table plan_type {
  id integer [primary key, not null]
  creation_date timestamp
  deleted boolean
  max_users varchar
  price varchar
  type_establishment varchar
  type_name varchar
  type_subscription varchar
  validity varchar
  user_creaction_user_id integer [not null]
  description text
}

Table position {
  id integer [primary key, not null]
  creation_date timestamp
  deleted boolean
  lang varchar
  lat varchar
  location varchar
  profile_id integer [not null]
  is_deleted boolean
  langitude varchar
  latitude varchar
  user_id integer [not null]
}

Table posts {
  id integer [primary key, not null]
  blocked varchar
  id_pub integer
  message text
  post_picture varchar
  social_media_type varchar
  user_name varchar
  user_picture varchar
  establishment_id integer [not null]
}

Table process_time {
  id integer [primary key, not null]
  deleted boolean
  description text
  program_id integer [not null]
}

Table profile {
  id integer [primary key, not null]
  creation_date timestamp
  is_deleted boolean
  name varchar
  profile_type varchar
  title varchar
  url_video varchar
  user_id integer [not null]
  video_id integer [not null]
  dtype varchar
  score varchar
}

Table profile_collection_medias {
  profile_id integer [primary key, not null]
  collection_medias_media_collection_id integer [primary key, not null]
}

Table profile_documents {
  profile_id integer [primary key, not null]
  documents_media_collection_id integer [primary key, not null]
}

Table profile_new_jobs {
  profile_id integer [primary key, not null]
  new_jobs_id integer [primary key, not null]
}

Table program {
  id integer [primary key, not null]
  active boolean
  creation_date timestamp
  deleted boolean
  description text
  slug varchar
  title varchar
  type varchar
  country_id integer [not null]
  icon_id integer [not null]
  image_id integer [not null]
  user_user_id integer [not null]
}

Table program_offre {
  id integer [primary key, not null]
  deleted boolean
  offre_id integer [not null]
  program_id integer [not null]
}

Table promo_codes {
  promo_code_id integer [primary key, not null]
  code varchar
  creation_date timestamp
  deleted boolean
  discount varchar
  end_date timestamp
  start_date timestamp
}

Table region {
  id integer [primary key, not null]
  description text
  name varchar [unique, not null]
  ref varchar [unique, not null]
}

Table requirement {
  id integer [primary key, not null]
  deleted boolean
  description text
  program_id integer [not null]
}

Table residency_visa_option {
  id integer [primary key, not null]
  creation_date timestamp
  deleted boolean
  description text
  profile_id integer [not null]
}

Table ressource_user {
  id integer [primary key, not null]
  active boolean
  creation_date timestamp
  description text
  title varchar
  type_ressource varchar
  file_id integer [not null]
  image_id integer [not null]
  user_id integer [not null]
}

Table rule {
  rule_id integer [primary key, not null]
  creation_date timestamp
  is_active boolean
  is_deleted boolean
  label varchar
  name varchar
  type varchar
  value varchar
  user_id integer [not null]
}

Table sector_of_activity {
  id integer [primary key, not null]
  deleted boolean
  name varchar [unique, not null]
}

Table service {
  id integer [primary key, not null]
  description text
  name varchar
  type_establishment varchar
  image_id integer [not null]
  type_service_id integer [not null]
  offre_id integer [not null]
  deleted boolean
}

Table service_offre {
  id integer [primary key, not null]
  deleted boolean
  offre_id integer [not null]
  service_id integer [not null]
}

Table social_media {
  id integer [primary key, not null]
  creation_date timestamp
  deleted boolean
  facebook_id integer
  facebook_url varchar
  instagram_id integer
  instagram_url varchar
  linked_in varchar
  linked_in_url varchar
  twitter varchar
  twitter_url varchar
  profile_id integer [not null]
  facebook varchar
  facebook_id_url varchar
  instagram varchar
}

Table sous_service {
  id integer [primary key, not null]
  description text
  name varchar
  service_id integer [not null]
  deleted boolean
}

Table steps {
  id integer [primary key, not null]
  deleted boolean
  description text
  duration varchar
  order_step varchar
  subtitle varchar
  title varchar
  program_id integer [not null]
}

Table subscription {
  id integer [primary key, not null]

In [1]:
import pandas as pd
import mysql.connector as mc
import textwrap

# ── DB CONFIG ──────────────────────────────────────────────────────
HOST     = "127.0.0.1"
PORT     = 3306
USER     = "root"
PASSWORD = "rootpass"
SCHEMA   = "growbal"

# ── CONNECT ────────────────────────────────────────────────────────
cnx = mc.connect(
    host=HOST, port=PORT,
    user=USER, password=PASSWORD,
    database=SCHEMA,
    auth_plugin="mysql_native_password",
)
cur = cnx.cursor(dictionary=True)

# ── QUERY ──────────────────────────────────────────────────────────
sql = """
SELECT TABLE_SCHEMA, TABLE_NAME
FROM information_schema.tables
WHERE TABLE_NAME = %s;
"""
cur.execute(sql, ("agent",))

# ── TO DATAFRAME ───────────────────────────────────────────────────
df_agent = pd.DataFrame(cur.fetchall())        # dict rows → DataFrame
df_agent

Empty DataFrame
Columns: []
Index: []

In [2]:
import pandas as pd
import mysql.connector as mc
import textwrap

# ── DB CONFIG ──────────────────────────────────────────────────────
HOST     = "127.0.0.1"
PORT     = 3306
USER     = "root"
PASSWORD = "rootpass"
SCHEMA   = "growbal"

# ── CONNECT ────────────────────────────────────────────────────────
cnx = mc.connect(
    host=HOST, port=PORT,
    user=USER, password=PASSWORD,
    database=SCHEMA,
    auth_plugin="mysql_native_password",
)
cur = cnx.cursor(dictionary=True)

# ── TABLE-LEVEL METADATA ───────────────────────────────────────────
cur.execute(f"""
    SELECT
        TABLE_NAME      AS tbl,
        COALESCE(TABLE_COMMENT, '') AS comment,
        COALESCE(TABLE_ROWS, 0)     AS rows_exact
    FROM information_schema.tables
    WHERE TABLE_SCHEMA = %s
    ORDER BY TABLE_NAME;
""", (SCHEMA,))
tbl_meta = {row["tbl"]: row for row in cur.fetchall()}

# ── COLUMN-LEVEL DETAILS ───────────────────────────────────────────
records = []
for tbl_name, meta in tbl_meta.items():
    cur.execute(f"DESCRIBE `{SCHEMA}`.`{tbl_name}`;")
    cols = cur.fetchall()          # dict rows: Field / Type / Null / Key / Default / Extra
    if tbl_name == "user":
        print(cols)

    for idx, col in enumerate(cols, 1):
        records.append({
            "table": tbl_name,
            "rows":  meta["rows_exact"],
            "table_comment": textwrap.shorten(meta["comment"], 60) or "(none)",
            "#": idx,
            "column": col["Field"],
            "dtype":  col["Type"],
            "null":   col["Null"],
            "key":    col["Key"],
            "default": col["Default"],
            "extra":   col["Extra"],
        })

df = pd.DataFrame(records).sort_values(["table", "#"]).reset_index(drop=True)

# ── PRETTIER DISPLAY OPTIONS ───────────────────────────────────────
pd.set_option("display.max_rows", None)
pd.set_option("display.max_colwidth", 120)

df

[{'Field': 'user_id', 'Type': 'bigint', 'Null': 'NO', 'Key': 'PRI', 'Default': None, 'Extra': 'auto_increment'}, {'Field': 'adress', 'Type': 'varchar(255)', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}, {'Field': 'birthday', 'Type': 'datetime(6)', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}, {'Field': 'creation_date', 'Type': 'datetime(6)', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}, {'Field': 'email', 'Type': 'varchar(255)', 'Null': 'YES', 'Key': 'UNI', 'Default': None, 'Extra': ''}, {'Field': 'full_name', 'Type': 'varchar(255)', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}, {'Field': 'is_deleted', 'Type': 'bit(1)', 'Null': 'NO', 'Key': '', 'Default': None, 'Extra': ''}, {'Field': 'nationality', 'Type': 'varbinary(255)', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}, {'Field': 'password', 'Type': 'varchar(255)', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}, {'Field': 'phone', 'Type': 'varchar(255)', 'Null': 'YES', 'Key': 'UNI', 'Default': None, 'Extra': ''}, {'Field': 'role', 'Type': 'smallint', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}, {'Field': 'stars', 'Type': 'float', 'Null': 'NO', 'Key': '', 'Default': None, 'Extra': ''}, {'Field': 'web_site', 'Type': 'varchar(255)', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}, {'Field': 'establishment_id', 'Type': 'bigint', 'Null': 'YES', 'Key': 'MUL', 'Default': None, 'Extra': ''}, {'Field': 'image_id', 'Type': 'bigint', 'Null': 'YES', 'Key': 'MUL', 'Default': None, 'Extra': ''}, {'Field': 'passeport_copy_id', 'Type': 'bigint', 'Null': 'YES', 'Key': 'MUL', 'Default': None, 'Extra': ''}, {'Field': 'provider', 'Type': 'varchar(255)', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}, {'Field': 'provider_id', 'Type': 'varchar(255)', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}, {'Field': 'confirm_email', 'Type': 'bit(1)', 'Null': 'NO', 'Key': '', 'Default': None, 'Extra': ''}]

,table,rows,table_comment,#,column,dtype,null,key,default,extra
0,ads,0,(none),1,id,bigint,NO,PRI,None,auto_increment
1,ads,0,(none),2,active,bit(1),NO,,None,
2,ads,0,(none),3,deleted,bit(1),NO,,None,
3,ads,0,(none),4,description,longtext,YES,,None,
4,ads,0,(none),5,picture_id,bigint,YES,MUL,None,
5,ads,0,(none),6,user_user_id,bigint,YES,MUL,None,
6,ads,0,(none),7,ordre,int,NO,,None,
7,ads,0,(none),8,sub_title,longtext,YES,,None,
8,ads,0,(none),9,title,longtext,YES,,None,
9,ads,0,(none),10,type,varchar(255),YES,,None,
10,ads,0,(none),11,creation_date,datetime(6),YES,,None,
11,ads,0,(none),12,link,varchar(255),YES,,None,
12,ads,0,(none),13,small_picture_id,bigint,YES,MUL,None,
13,advantages,0,(none),1,id,bigint,NO,PRI,None,auto_increment
14,advantages,0,(none),2,creation_date,datetime(6),YES,,None,
15,advantages,0,(none),3,deleted,bit(1),NO,,None,
16,advantages,0,(none),4,description,longtext,YES,,None,
17,advantages,0,(none),5,title,longtext,YES,,None,
18,advantages,0,(none),6,profile_id,bigint,YES,MUL,None,
19,advantages,0,(none),7,advantages_list,varbinary(255),YES,,None,
20,advantages,0,(none),8,is_deleted,bit(1),NO,,None,
21,advantages,0,(none),9,agent_service_provider_id,bigint,YES,MUL,None,
22,advantages,0,(none),10,profile_ez_id,bigint,YES,MUL,None,
23,advantages,0,(none),11,user_id,bigint,YES,MUL,None,
24,advantages,0,(none),12,tax_id,bigint,YES,MUL,None,
25,advantages_subtitle,0,(none),1,advantages_id,bigint,NO,PRI,None,
26,advantages_subtitle,0,(none),2,subtitle_id,bigint,NO,PRI,None,
27,agent_interest_investor_request,0,(none),1,id,bigint,NO,PRI,None,auto_increment
28,agent_interest_investor_request,0,(none),2,creation_date,datetime(6),YES,,None,
29,agent_interest_investor_request,0,(none),3,agent_id,bigint,YES,MUL,None,
30,agent_interest_investor_request,0,(none),4,investor_id,bigint,YES,MUL,None,
31,agent_interest_investor_request,0,(none),5,task_id,bigint,YES,MUL,None,
32,attach_to,0,(none),1,id,bigint,NO,PRI,None,auto_increment
33,attach_to,0,(none),2,deleted,bit(1),NO,,None,
34,attach_to,0,(none),3,name,varchar(255),YES,UNI,None,
35,benefit_program,0,(none),1,id,bigint,NO,PRI,None,auto_increment
36,benefit_program,0,(none),2,deleted,bit(1),NO,,None,
37,benefit_program,0,(none),3,description,longtext,YES,,None,
38,benefit_program,0,(none),4,title,varchar(255),YES,,None,
39,benefit_program,0,(none),5,program_id,bigint,YES,MUL,None,
40,benefits,0,(none),1,id,bigint,NO,PRI,None,auto_increment
41,benefits,0,(none),2,name,varchar(255),YES,,None,
42,benefits,0,(none),3,deleted,bit(1),NO,,None,
43,bill,0,(none),1,id,bigint,NO,PRI,None,auto_increment
44,bill,0,(none),2,amout_payed,float,NO,,None,
45,bill,0,(none),3,creation_date,datetime(6),YES,,None,
46,bill,0,(none),4,file_path,varchar(255),YES,,None,
47,bill,0,(none),5,is_deleted,bit(1),NO,,None,
48,bill,0,(none),6,name,varchar(255),YES,,None,
49,bill,0,(none),7,reference,varchar(255),YES,,None,
50,bill,0,(none),8,year,datetime(6),YES,,None,
51,bill,0,(none),9,user_id,bigint,YES,MUL,None,
52,bill,0,(none),10,payment_id,bigint,YES,MUL,None,
53,block_agent_by_ez,0,(none),1,id,bigint,NO,PRI,None,auto_increment
54,block_agent_by_ez,0,(none),2,agent_id,bigint,YES,MUL,None,
55,block_agent_by_ez,0,(none),3,ez_id,bigint,YES,MUL,None,
56,blog,0,(none),1,id,bigint,NO,PRI,None,auto_increment
57,blog,0,(none),2,country,varchar(255),YES,,None,
58,blog,0,(none),3,creation_date,datetime(6),YES,,None,
59,blog,0,(none),4,description,text,YES,,None,
60,blog,0,(none),5,is_active,bit(1),YES,,None,
61,blog,0,(none),6,is_deleted,bit(1),YES,,None,
62,blog,0,(none),7,region,varchar(255),YES,,None,
63,blog,0,(none),8,title,varchar(255),YES,,None,
64,blog,0,(none),9,image_id,bigint,YES,MUL,None,
65,blog,0,(none),10,user_id,bigint,YES,MUL,None,
66,blog,0,(none),11,blog_date,datetime(6),YES,,None,
67,blog,0,(none),12,short_description,text,YES,,None,
68,blog,0,(none),13,tag,varchar(255),YES,,None,
69,blog,0,(none),14,writer,varchar(255),YES,,None,
70,blog,0,(none),15,writer_photo_id,bigint,YES,MUL,None,
71,blog,0,(none),16,url_profile,varchar(255),YES,,None,
72,business_type,0,(none),1,id,bigint,NO,PRI,None,auto_increment
73,business_type,0,(none),2,creation_date,datetime(6),YES,,None,
74,business_type,0,(none),3,is_deleted,bit(1),YES,,None,
75,business_type,0,(none),4,business_type,smallint,YES,,None,
76,business_type,0,(none),5,user_id,bigint,YES,MUL,None,
77,business_type,0,(none),6,establishment_id,bigint,YES,MUL,None,
78,business_type,0,(none),7,deleted,bit(1),NO,,None,
79,business_type,0,(none),8,name,varchar(255),YES,,None,
80,button,0,(none),1,button_id,bigint,NO,PRI,None,auto_increment
81,button,0,(none),2,creation_date,datetime(6),YES,,None,
82,button,0,(none),3,is_active,bit(1),YES,,None,
83,button,0,(none),4,is_deleted,bit(1),YES,,None,
84,button,0,(none),5,name,varchar(255),YES,,None,
85,button,0,(none),6,url,varchar(255),YES,,None,
86,button,0,(none),7,citi_zen_ship_residency_citizenship_residency_id,bigint,YES,MUL,None,
87,button,0,(none),8,economic_zone_id,bigint,YES,MUL,None,
88,button,0,(none),9,hero_section_id,bigint,YES,MUL,None,
89,button,0,(none),10,taxs_id,bigint,YES,MUL,None,
90,category_ez,0,(none),1,id,bigint,NO,PRI,None,auto_increment
91,category_ez,0,(none),2,creation_date,datetime(6),YES,,None,
92,category_ez,0,(none),3,title,longtext,YES,,None,
93,category_ez_establishment,0,(none),1,category_ez_id,bigint,NO,PRI,None,
94,category_ez_establishment,0,(none),2,establishment_id,bigint,NO,PRI,None,
95,citizenship_residency,0,(none),1,citizenship_residency_id,bigint,NO,PRI,None,auto_increment
96,citizenship_residency,0,(none),2,country,varchar(255),YES,,None,
97,citizenship_residency,0,(none),3,creation_date,datetime(6),YES,,None,
98,citizenship_residency,0,(none),4,description,longtext,YES,,None,
99,citizenship_residency,0,(none),5,is_active,bit(1),YES,,None,
100,citizenship_residency,0,(none),6,is_deleted,bit(1),YES,,None,
101,citizenship_residency,0,(none),7,region,varchar(255),YES,,None,
102,citizenship_residency,0,(none),8,sub_title,varchar(255),YES,,None,
103,citizenship_residency,0,(none),9,title,varchar(255),YES,,None,
104,citizenship_residency,0,(none),10,image_id,bigint,YES,MUL,None,
105,citizenship_residency,0,(none),11,user_id,bigint,YES,MUL,None,
106,citizenship_residency,0,(none),12,country_id,bigint,YES,MUL,None,
107,citizenship_residency,0,(none),13,region_id,bigint,YES,MUL,None,
108,city,0,(none),1,id,bigint,NO,PRI,None,auto_increment
109,city,0,(none),2,name,varchar(255),YES,,None,
110,city,0,(none),3,country_id,bigint,YES,MUL,None,
111,countries,0,(none),1,id,bigint,NO,PRI,None,auto_increment
112,countries,0,(none),2,code,varchar(255),YES,,None,
113,countries,0,(none),3,currency,varchar(255),YES,,None,
114,countries,0,(none),4,flags,varchar(255),YES,,None,
115,countries,0,(none),5,name_ang,varchar(255),YES,,None,
116,countries,0,(none),6,name_ara,varchar(255),YES,,None,
117,countries,0,(none),7,suffixes,varbinary(255),YES,,None,
118,countries,0,(none),8,region_id,bigint,YES,MUL,None,
119,country_diversities,0,(none),1,id,bigint,NO,PRI,None,auto_increment
120,country_diversities,0,(none),2,title,varchar(255),YES,,None,
121,country_diversities,0,(none),3,country_page_id,bigint,YES,MUL,None,
122,country_diversities,0,(none),4,image_id,bigint,YES,MUL,None,
123,country_domestic_products,0,(none),1,id,bigint,NO,PRI,None,auto_increment
124,country_domestic_products,0,(none),2,description,varchar(255),YES,,None,
125,country_domestic_products,0,(none),3,value,varchar(255),YES,,None,
126,country_domestic_products,0,(none),4,country_page_id,bigint,YES,MUL,None,
127,country_explore_section,0,(none),1,id,bigint,NO,PRI,None,auto_increment
128,country_explore_section,0,(none),2,description,longtext,YES,,None,
129,country_explore_section,0,(none),3,country_page_id,bigint,YES,MUL,None,
130,country_hero_section,0,(none),1,id,bigint,NO,PRI,None,auto_increment
131,country_hero_section,0,(none),2,deleted,bit(1),NO,,None,
132,country_hero_section,0,(none),3,description,longtext,YES,,None,
133,country_hero_section,0,(none),4,country_page_id,bigint,YES,MUL,None,
134,country_hero_section,0,(none),5,cover_picture_id,bigint,YES,MUL,None,
135,country_over_view,0,(none),1,id,bigint,NO,PRI,None,auto_increment
136,country_over_view,0,(none),2,deleted,bit(1),NO,,None,
137,country_over_view,0,(none),3,description,longtext,YES,,None,
138,country_over_view,0,(none),4,country_page_id,bigint,YES,MUL,None,
139,country_over_view,0,(none),5,cover_picture_id,bigint,YES,MUL,None,
140,country_page,0,(none),1,id,bigint,NO,PRI,None,auto_increment
141,country_page,0,(none),2,creation_date,datetime(6),YES,,None,
142,country_page,0,(none),3,deleted,bit(1),NO,,None,
143,country_page,0,(none),4,country_id,bigint,YES,MUL,None,
144,country_sectors,0,(none),1,id,bigint,NO,PRI,None,auto_increment
145,country_sectors,0,(none),2,description,varchar(255),YES,,None,
146,country_sectors,0,(none),3,sector_name,varchar(255),YES,,None,
147,country_sectors,0,(none),4,country_page_id,bigint,YES,MUL,None,
148,country_sectors,0,(none),5,sector_icon_id,bigint,YES,MUL,None,
149,country_url_videos,0,(none),1,id,bigint,NO,PRI,None,auto_increment
150,country_url_videos,0,(none),2,creation_date,datetime(6),YES,,None,
151,country_url_videos,0,(none),3,url_video,longtext,YES,,None,
152,country_url_videos,0,(none),4,country_explore_section_id,bigint,YES,MUL,None,
153,discussion,0,(none),1,id,bigint,NO,PRI,None,auto_increment
154,discussion,0,(none),2,archieved,bit(1),NO,,None,
155,discussion,0,(none),3,creation_date,datetime(6),YES,,None,
156,discussion,0,(none),4,name,varchar(255),YES,,None,
157,discussion,0,(none),5,type,varchar(255),YES,,None,
158,economic_zone,0,(none),1,id,bigint,NO,PRI,None,auto_increment
159,economic_zone,0,(none),2,country,varchar(255),YES,,None,
160,economic_zone,0,(none),3,creation_date,datetime(6),YES,,None,
161,economic_zone,0,(none),4,description,longtext,YES,,None,
162,economic_zone,0,(none),5,is_active,bit(1),YES,,None,
163,economic_zone,0,(none),6,is_deleted,bit(1),YES,,None,
164,economic_zone,0,(none),7,region,varchar(255),YES,,None,
165,economic_zone,0,(none),8,sub_title,varchar(255),YES,,None,
166,economic_zone,0,(none),9,title,varchar(255),YES,,None,
167,economic_zone,0,(none),10,image_id,bigint,YES,MUL,None,
168,economic_zone,0,(none),11,user_id,bigint,YES,MUL,None,
169,economic_zone,0,(none),12,country_id,bigint,YES,MUL,None,
170,economic_zone,0,(none),13,region_id,bigint,YES,MUL,None,
171,element_sous_service,0,(none),1,id,bigint,NO,PRI,None,auto_increment
172,element_sous_service,0,(none),2,description,longtext,YES,,None,
173,element_sous_service,0,(none),3,name,varchar(255),YES,UNI,None,
174,element_sous_service,0,(none),4,sous_service_id,bigint,YES,MUL,None,
175,element_sous_service,0,(none),5,deleted,bit(1),NO,,None,
176,establishment,0,(none),1,id,bigint,NO,PRI,None,auto_increment
177,establishment,0,(none),2,adress,varchar(255),YES,,None,
178,establishment,0,(none),3,blocked,bit(1),NO,,None,
179,establishment,0,(none),4,company_name,varchar(255),YES,UNI,None,
180,establishment,0,(none),5,creation_date,datetime(6),YES,,None,
181,establishment,0,(none),6,deleted,bit(1),NO,,None,
182,establishment,0,(none),7,description,longtext,YES,,None,
183,establishment,0,(none),8,designation,varchar(255),YES,,None,
184,establishment,0,(none),9,email,varchar(255),YES,UNI,None,
185,establishment,0,(none),10,expiry_date,datetime(6),YES,,None,
186,establishment,0,(none),11,founded_in,datetime(6),YES,,None,
187,establishment,0,(none),12,password,varchar(255),YES,,None,
188,establishment,0,(none),13,phone,varchar(255),YES,,None,
189,establishment,0,(none),14,representative_name,varchar(255),YES,,None,
190,establishment,0,(none),15,slug,varchar(255),YES,UNI,None,
191,establishment,0,(none),16,sub_name,varchar(255),YES,,None,
192,establishment,0,(none),17,tax_number,varchar(255),YES,UNI,None,
193,establishment,0,(none),18,type,smallint,YES,,None,
194,establishment,0,(none),19,verified,bit(1),NO,,None,
195,establishment,0,(none),20,web_site,varchar(255),YES,,None,
196,establishment,0,(none),21,city_id,bigint,YES,MUL,None,
197,establishment,0,(none),22,country_id,bigint,YES,MUL,None,
198,establishment,0,(none),23,cover_picture_id,bigint,YES,MUL,None,
199,establishment,0,(none),24,licence_id,bigint,YES,MUL,None,
200,establishment,0,(none),25,logo_id,bigint,YES,MUL,None,
201,establishment,0,(none),26,profile_id,bigint,YES,UNI,None,
202,establishment,0,(none),27,region_id,bigint,YES,MUL,None,
203,establishment,0,(none),28,type_ez_id,bigint,YES,MUL,None,
204,establishment,0,(none),29,user_user_id,bigint,YES,UNI,None,
205,establishment,0,(none),30,agency,longtext,YES,,None,
206,establishment,0,(none),31,vision,longtext,YES,,None,
207,establishment,0,(none),32,mobile,varchar(255),YES,,None,
208,establishment_agent,0,(none),1,id,bigint,NO,PRI,None,auto_increment
209,establishment_agent,0,(none),2,deleted,bit(1),NO,,None,
210,establishment_agent,0,(none),3,establishment_id,bigint,YES,MUL,None,
211,establishment_agent,0,(none),4,profile_id,bigint,YES,MUL,None,
212,establishment_discussion_members,0,(none),1,id,bigint,NO,PRI,None,auto_increment
213,establishment_discussion_members,0,(none),2,deleted,bit(1),NO,,None,
214,establishment_discussion_members,0,(none),3,discussion_id,bigint,YES,MUL,None,
215,establishment_discussion_members,0,(none),4,establishment_id,bigint,YES,MUL,None,
216,establishment_message_receiver,0,(none),1,id,bigint,NO,PRI,None,auto_increment
217,establishment_message_receiver,0,(none),2,read_date,datetime(6),YES,,None,
218,establishment_message_receiver,0,(none),3,readed,bit(1),NO,,None,
219,establishment_message_receiver,0,(none),4,establishment_id,bigint,YES,MUL,None,
220,establishment_message_receiver,0,(none),5,message_id,bigint,YES,MUL,None,
221,establishment_message_receiver,0,(none),6,email_notification_readed,bit(1),NO,,None,
222,establishment_program,0,(none),1,id,bigint,NO,PRI,None,auto_increment
223,establishment_program,0,(none),2,active,bit(1),NO,,None,
224,establishment_program,0,(none),3,creation_date,datetime(6),YES,,None,
225,establishment_program,0,(none),4,deleted,bit(1),NO,,None,
226,establishment_program,0,(none),5,establishment_id,bigint,YES,MUL,None,
227,establishment_program,0,(none),6,program_id,bigint,YES,MUL,None,
228,establishment_services,0,(none),1,id,bigint,NO,PRI,None,auto_increment
229,establishment_services,0,(none),2,deleted,bit(1),NO,,None,
230,establishment_services,0,(none),3,establishment_id,bigint,YES,MUL,None,
231,establishment_services,0,(none),4,service_id,bigint,YES,MUL,None,
232,etablishment_attach_to,0,(none),1,id,bigint,NO,PRI,None,auto_increment
233,etablishment_attach_to,0,(none),2,attach_to_id,bigint,YES,MUL,None,
234,etablishment_attach_to,0,(none),3,establishment_id,bigint,YES,MUL,None,
235,etablishment_element_services,0,(none),1,id,bigint,NO,PRI,None,auto_increment
236,etablishment_element_services,0,(none),2,deleted,bit(1),NO,,None,
237,etablishment_element_services,0,(none),3,element_sous_service_id,bigint,YES,MUL,None,
238,etablishment_element_services,0,(none),4,establishment_id,bigint,YES,MUL,None,
239,etablishment_interests,0,(none),1,id,bigint,NO,PRI,None,auto_increment
240,etablishment_interests,0,(none),2,deleted,bit(1),NO,,None,
241,etablishment_interests,0,(none),3,establishment_id,bigint,YES,MUL,None,
242,etablishment_interests,0,(none),4,interests_id,bigint,YES,MUL,None,
243,etablishment_sector_of_activity,0,(none),1,id,bigint,NO,PRI,None,auto_increment
244,etablishment_sector_of_activity,0,(none),2,deleted,bit(1),NO,,None,
245,etablishment_sector_of_activity,0,(none),3,establishment_id,bigint,YES,MUL,None,
246,etablishment_sector_of_activity,0,(none),4,sector_of_activity_id,bigint,YES,MUL,None,
247,etablishment_sous_services,0,(none),1,id,bigint,NO,PRI,None,auto_increment
248,etablishment_sous_services,0,(none),2,deleted,bit(1),NO,,None,
249,etablishment_sous_services,0,(none),3,establishment_id,bigint,YES,MUL,None,
250,etablishment_sous_services,0,(none),4,sous_service_id,bigint,YES,MUL,None,
251,experience,0,(none),1,id,bigint,NO,PRI,None,auto_increment
252,experience,0,(none),2,deleted,bit(1),NO,,None,
253,experience,0,(none),3,description,longtext,YES,,None,
254,experience,0,(none),4,end_date,datetime(6),YES,,None,
255,experience,0,(none),5,start_date,datetime(6),YES,,None,
256,experience,0,(none),6,title_of_job,varchar(255),YES,,None,
257,experience,0,(none),7,city_id,bigint,YES,MUL,None,
258,experience,0,(none),8,country_id,bigint,YES,MUL,None,
259,experience,0,(none),9,image_id,bigint,YES,MUL,None,
260,experience,0,(none),10,region_id,bigint,YES,MUL,None,
261,experience,0,(none),11,user_user_id,bigint,YES,MUL,None,
262,experience,0,(none),12,company_link,varchar(255),YES,,None,
263,experience,0,(none),13,company_name,varchar(255),YES,,None,
264,feed_back,0,(none),1,id,bigint,NO,PRI,None,auto_increment
265,feed_back,0,(none),2,creation_date,datetime(6),YES,,None,
266,feed_back,0,(none),3,message,longtext,YES,,None,
267,feed_back,0,(none),4,rating,float,NO,,None,
268,feed_back,0,(none),5,agent_id,bigint,YES,MUL,None,
269,feed_back,0,(none),6,ez_id,bigint,YES,MUL,None,
270,feed_back,0,(none),7,investor_id,bigint,YES,MUL,None,
271,feed_back,0,(none),8,from_id,bigint,YES,MUL,None,
272,feed_back,0,(none),9,to_id,bigint,YES,MUL,None,
273,hero_section,0,(none),1,hero_section_id,bigint,NO,PRI,None,auto_increment
274,hero_section,0,(none),2,country,varchar(255),YES,,None,
275,hero_section,0,(none),3,creation_date,datetime(6),YES,,None,
276,hero_section,0,(none),4,description,longtext,YES,,None,
277,hero_section,0,(none),5,is_active,bit(1),YES,,None,
278,hero_section,0,(none),6,is_deleted,bit(1),YES,,None,
279,hero_section,0,(none),7,region,varchar(255),YES,,None,
280,hero_section,0,(none),8,sub_title,longtext,YES,,None,
281,hero_section,0,(none),9,subject,smallint,YES,,None,
282,hero_section,0,(none),10,title,longtext,YES,,None,
283,hero_section,0,(none),11,image_id,bigint,YES,MUL,None,
284,hero_section,0,(none),12,user_id,bigint,YES,MUL,None,
285,hero_section,0,(none),13,country_id,bigint,YES,MUL,None,
286,hero_section,0,(none),14,region_id,bigint,YES,MUL,None,
287,industry,0,(none),1,id,bigint,NO,PRI,None,auto_increment
288,industry,0,(none),2,creation_date,datetime(6),YES,,None,
289,industry,0,(none),3,deleted,bit(1),NO,,None,
290,industry,0,(none),4,description,longtext,YES,,None,
291,industry,0,(none),5,user_id,bigint,YES,MUL,None,
292,industry,0,(none),6,profile_id,bigint,YES,MUL,None,
293,inquiery,0,(none),1,id,bigint,NO,PRI,None,auto_increment
294,inquiery,0,(none),2,business_name,varchar(255),YES,,None,
295,inquiery,0,(none),3,comment,longtext,YES,,None,
296,inquiery,0,(none),4,creation_date,datetime(6),YES,,None,
297,inquiery,0,(none),5,deleted,bit(1),NO,,None,
298,inquiery,0,(none),6,inquiery_type,varchar(255),YES,,None,
299,inquiery,0,(none),7,state,varchar(255),YES,,None,
300,inquiery,0,(none),8,agent_id,bigint,YES,MUL,None,
301,inquiery,0,(none),9,ez_id,bigint,YES,MUL,None,
302,inquiery,0,(none),10,business_type_id,bigint,YES,MUL,None,
303,inquiery,0,(none),11,investor_id,bigint,YES,MUL,None,
304,inquiery,0,(none),12,media_collection_media_collection_id,bigint,YES,MUL,None,
305,inquiery,0,(none),13,expiry_date,datetime(6),YES,,None,
306,inquiery,0,(none),14,licence_id,bigint,YES,MUL,None,
307,inquiery,0,(none),15,message,varchar(255),YES,,None,
308,inquiery,0,(none),16,ordre_id,bigint,YES,MUL,None,
309,inquiery,0,(none),17,transaction_id,int,YES,,None,
310,inquiery,0,(none),18,reference,varchar(255),YES,,None,
311,interests,0,(none),1,id,bigint,NO,PRI,None,auto_increment
312,interests,0,(none),2,deleted,bit(1),NO,,None,
313,interests,0,(none),3,name,varchar(255),YES,UNI,None,
314,investor_interest_agent_offres,0,(none),1,id,bigint,NO,PRI,None,auto_increment
315,investor_interest_agent_offres,0,(none),2,creation_date,datetime(6),YES,,None,
316,investor_interest_agent_offres,0,(none),3,agent_id,bigint,YES,MUL,None,
317,investor_interest_agent_offres,0,(none),4,investor_id,bigint,YES,MUL,None,

In [8]:
from passlib.context import CryptContext

# Match your existing hashes: ident=$2a and rounds=10
pwd_context = CryptContext(
    schemes=["bcrypt"],
    deprecated="auto",
    bcrypt__ident="2a",
    bcrypt__rounds=10,
)

plaintext = "growbal!"   # change this to whatever you want
hashed = pwd_context.hash(plaintext)
print(hashed)  # e.g., $2a$10$...

$2a$10$Mu0pw32JqG/D9CTXvUivyeNE/hZrFiruAiIiKeLAkKYCOauTWs1e6

In [ ]:
import os
import mysql.connector as mc
from passlib.context import CryptContext
from dotenv import load_dotenv

# Load environment variables
load_dotenv('/home/mohammed/Desktop/tech_projects/growbal/envs/1.env')

# ── DB CONFIG (from env) ───────────────────────────────────────────
HOST     = os.getenv("MYSQL_AUTH_HOST", "127.0.0.1")
PORT     = int(os.getenv("MYSQL_AUTH_PORT", "3306"))
USER     = os.getenv("MYSQL_AUTH_USERNAME", "root")
PASSWORD = os.getenv("MYSQL_AUTH_PASSWORD", "")
SCHEMA   = os.getenv("MYSQL_AUTH_DATABASE", "growbal")

# ── bcrypt config to MATCH $2a$10$ ─────────────────────────────────
pwd_context = CryptContext(
    schemes=["bcrypt"],
    deprecated="auto",
    bcrypt__ident="2a",
    bcrypt__rounds=10,
)

# Choose a test password (for demo only; do NOT store real passwords here)
PLAINTEXT_PASSWORD = "growbal"
hashed_password = pwd_context.hash(PLAINTEXT_PASSWORD)

# Dummy data for the test account
email       = "growbal@growbal.com"
full_name   = "Growbal Test User"
is_deleted  = 0      # BIT(1) -> 0
confirm_em  = 1      # BIT(1) -> 1
stars       = 0.0    # required float
role        = 0      # smallint, arbitrary
adress      = None
phone       = None
web_site    = None
provider    = "local"
provider_id = None

cnx = mc.connect(
    host=HOST,
    port=PORT,
    user=USER,
    password=PASSWORD,
    database=SCHEMA,
    auth_plugin="mysql_native_password",
)
cur = cnx.cursor()

# Minimal set of columns to satisfy NOT NULL constraints + email uniqueness.
sql = """
INSERT INTO `growbal`.`user`
    (email, password, full_name, is_deleted, confirm_email, stars, creation_date, role, adress, phone, web_site, provider, provider_id)
VALUES
    (%s,    %s,       %s,        %s,         %s,            %s,    NOW(6),       %s,   %s,     %s,    %s,      %s,       %s)
ON DUPLICATE KEY UPDATE
    password=VALUES(password),
    full_name=VALUES(full_name),
    is_deleted=VALUES(is_deleted),
    confirm_email=VALUES(confirm_email),
    stars=VALUES(stars),
    role=VALUES(role),
    adress=VALUES(adress),
    phone=VALUES(phone),
    web_site=VALUES(web_site),
    provider=VALUES(provider),
    provider_id=VALUES(provider_id),
    creation_date=VALUES(creation_date);
"""

params = (
    email,
    hashed_password,
    full_name,
    is_deleted,
    confirm_em,
    stars,
    role,
    adress,
    phone,
    web_site,
    provider,
    provider_id,
)

cur.execute(sql, params)
cnx.commit()

print(f"Upserted user with email {email}")
cur.close()
cnx.close()

Upserted user with email growbal@growbal.com

In [ ]:
import os
import pandas as pd
import mysql.connector as mc
from dotenv import load_dotenv

# Load environment variables
load_dotenv('/home/mohammed/Desktop/tech_projects/growbal/envs/1.env')

# ── DB CONFIG (from env) ───────────────────────────────────────────
HOST     = os.getenv("MYSQL_AUTH_HOST", "127.0.0.1")
PORT     = int(os.getenv("MYSQL_AUTH_PORT", "3306"))
USER     = os.getenv("MYSQL_AUTH_USERNAME", "root")
PASSWORD = os.getenv("MYSQL_AUTH_PASSWORD", "")
SCHEMA   = os.getenv("MYSQL_AUTH_DATABASE", "growbal")

# ── CONNECT ────────────────────────────────────────────────────────
cnx = mc.connect(
    host=HOST,
    port=PORT,
    user=USER,
    password=PASSWORD,
    database=SCHEMA,
    auth_plugin="mysql_native_password",
)
cur = cnx.cursor(dictionary=True)

# ── QUERY DATA FROM 'media' TABLE ──────────────────────────
cur.execute(f"SELECT * FROM `{SCHEMA}`.`media` ORDER BY `creation_date` DESC;")
data = cur.fetchall()

# ── DISPLAY DATA AS DATAFRAME ──────────────────────────────────────
df_media = pd.DataFrame(data)

# ── DISPLAY ALL COLUMNS ──────────────────────────────────────────────
pd.set_option("display.max_columns", None)
# ── DISPLAY OPTIONS ────────────────────────────────────────────────
pd.set_option("display.max_rows", None)
pd.set_option("display.max_colwidth", 120)
print(len(df_media))
display(df_media.head(10))

cnx.close()

In [7]:
import pandas as pd
import mysql.connector as mc

# # ── DB CONFIG ──────────────────────────────────────────────────────
# HOST     = "127.0.0.1"
# PORT     = 3306
# USER     = "root"
# PASSWORD = "rootpass"
# SCHEMA   = "growbal"

HOST     = "13.61.25.212"
PORT     = 3306
USER     = "root"
PASSWORD = "1w4rer@@t"
SCHEMA   = "growbal"

# ── CONNECT ────────────────────────────────────────────────────────
cnx = mc.connect(
    host=HOST, port=PORT,
    user=USER, password=PASSWORD,
    database=SCHEMA,
    auth_plugin="mysql_native_password",
)
cur = cnx.cursor(dictionary=True)

# ── QUERY DATA FROM 'establishment' TABLE ──────────────────────────
cur.execute(f"SELECT * FROM `{SCHEMA}`.`establishment` ORDER BY creation_date DESC;")
data = cur.fetchall()

# ── DISPLAY DATA AS DATAFRAME ──────────────────────────────────────
df_establishment = pd.DataFrame(data)

# ── DISPLAY ALL COLUMNS ──────────────────────────────────────────────
pd.set_option("display.max_columns", None)
# ── DISPLAY OPTIONS ────────────────────────────────────────────────
pd.set_option("display.max_rows", None)
pd.set_option("display.max_colwidth", 120)
print(len(df_establishment))
display(df_establishment.head(40))

cnx.close()

625

,id,adress,blocked,company_name,creation_date,deleted,description,designation,email,expiry_date,founded_in,password,phone,representative_name,slug,sub_name,tax_number,type,verified,web_site,city_id,country_id,cover_picture_id,licence_id,logo_id,profile_id,region_id,type_ez_id,user_user_id,agency,vision,mobile
0,807,"Global presence with 13 offices worldwide. Main contact: Dubai, United Arab Emirates",0,RIF Trust,2025-06-20 10:32:37.906,0,"RIF Trust specializes in international citizenship and residency solutions, helping HNWIs and their families obtain ...",None,contact@riftrust.com,None,None,None,+971(0)45206777,None,fQ0kFskv,None,None,0.0,0,https://www.riftrust.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,+97145206777
1,806,"Fairmont Office, Dubai, UAE",0,RFZ,2025-06-20 10:32:37.884,0,"RFZ assists entrepreneurs in registering companies in Dubai and the UAE, providing comprehensive business setup serv...",None,info@rfz.ae,None,None,None,None,None,L03hnyUf,None,None,0.0,0,https://rfz.ae,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None
2,805,"Office 1501, Al Habtoor Business Tower, Dubai Marina, Dubai, UAE",0,Quill Corporate Services,2025-06-20 10:32:37.865,0,"Quill Corporate Services specializes in business incorporation and support services in the UAE, offering comprehensi...",None,info@quillcorporateservices.com,None,None,None,+971 4 330 8089,None,jQO5ImBM,None,None,0.0,0,https://quillcorporateservices.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,+971 52 674 2764
3,804,"2701, The Exchange Tower, Business Bay, Dubai, UAE",0,Quiick Work,2025-06-20 10:32:37.846,0,"Comprehensive business setup solutions in UAE including licensing, taxation, and financial accounting. Services incl...",None,shahzaib@quiickwork.com,None,None,None,None,None,v7zVRC4S,None,None,0.0,0,https://quiickwork.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None
4,803,"Galaxy Life Plaza Abbas Bin Abd Mutaleb Street – Al Ta'awun Neighborhood, Riyadh, KSA",0,Qoyod,2025-06-20 10:32:37.824,0,Qoyod is a comprehensive cloud-based accounting software that helps business owners streamline all accounting proces...,None,support@qoyod.com,None,None,None,8004330088,None,ZrCR17sl,None,None,0.0,0,https://www.qoyod.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None
5,802,"The Binary by Omniyat – Marasi Dr – Business Bay, Dubai – United Arab Emirates",0,Profits Plus Accountants,2025-06-20 10:32:37.802,0,Professional VAT and tax accounting services provided by experienced British accountants with over 20 years of exper...,None,accounts@profitsplus.ae,None,None,None,None,None,uEG4YhfH,None,None,0.0,0,https://profitsplus.ae,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,+971 56 826 6530
6,801,"804, 8th Floor, Bhandari House Building No.- 91, Nehru Place, New Delhi - 110019",0,PU Professional Utilities Pvt Ltd,2025-06-20 10:32:37.783,0,"Professional Utilities provides comprehensive accounting and bookkeeping services including bank reconciliation, man...",None,support@professionalutilities.com,None,None,None,None,None,NL0WBU1y,None,None,0.0,0,https://www.professionalutilities.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,9821113117
7,800,"# 4, Ground Floor, BSV Reddy Layout, Ramamurthy Nagar, Bangalore -560016, Near Titan Showroom",0,ProElite Consultants Private Limited,2025-06-20 10:32:37.761,0,"ProElite is a one-stop solution for Business Support Services, Business Setup Services, Tax Consulting, and Regulato...",None,anil@proeliteconsultants.com,None,None,None,None,None,Asxqls4o,None,None,0.0,0,https://proeliteconsultants.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,+91 95355 15513
8,799,"1. RTC Silver, Office No B4 - 708, Kharadi Annexe, Wagholi, Pune-Nagar Road, Pune, Maharashtra, 412207\n2. 1st Floor...",0,Patron Accounting LLP,2025-06-20 10:32:37.742,0,Patron Accounting LLP is a technology-driven accounting firm offering comprehensive financial solutions including co...,None,info@patronaccounting.com,None,None,None,None,None,KOGZqYkU,None,None,0.0,0,https://www.patronaccounting.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,+91 945 945 6700
9,798,"Level 7B, Rolex Tower, Sheikh Zayed Road, Dubai, UAE",0,Paramount Zone,2025-06-20 10:32:37.723,0,"Paramount Zone offers comprehensive business setup and consultancy services in UAE, specializing in freezone, mainla...",None,contact@paramountzone.ae,None,None,None,+971 4 447 2409,None,u3V08WrD,None,None,0.0,0,https://paramountzone.ae,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,+971 52 132 5769
10,797,"Head Office: 13D, Atmaram House, 1 Tolstoy Marg, New Delhi - 110001\nBranch Offices:\n- 630L, Model Town, Ludhiana, ...",0,Prakash Sachin & Co.,2025-06-20 10:32:37.698,0,Prakash Sachin & Co. (PSC) is a reputed chartered accountancy firm providing comprehensive financial services includ...,None,info@psc.co.in,None,None,None,+91 11 42173536,None,dKakjO9p,None,None,0.0,0,https://psc.co.in,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,9914320379
11,796,"Rolex Tower, Level 18, Sheikh Zayed Road, Near Financial Centre Metro Station, Dubai, UAE",0,PKF United Arab Emirates,2025-06-20 10:32:37.676,0,"PKF UAE provides comprehensive audit, tax, and advisory services. Our practice, established in Dubai in 1976, has gr...",None,shajijoseph@pkfuae.com,None,None,None,None,None,KN3OlcHz,None,None,0.0,0,https://pkfuae.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None
12,795,"Registered Office: D-127, Qutub Vihar, Phase 1, New Delhi- 110071\nBranch Offices: \n- 608, The I-Thum, Tower A 40, ...",0,PAAY & Co LLP,2025-06-20 10:32:37.649,0,PAAY is a premier Chartered Accountancy firm specializing in comprehensive and cost-efficient compliance solutions f...,None,office@paay.co.in,None,None,None,+91 9211101129,None,lr9O3ooq,None,None,0.0,0,https://www.paay.co.in,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,+91 95996 41129
13,794,"Dubai, United Arab Emirates",0,Open Hub Corporate Services,2025-06-20 10:32:37.630,0,"Open Hub is a professional company formation consultancy and subsidiary of the BetterHomes Group, specializing in he...",None,info@openhubme.com,None,None,None,+971 04 409 0994,None,SR9BC46e,None,None,0.0,0,https://www.openhubme.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None
14,793,"Corporate Office: ORG Logistics, F03/E04, DAFZA, DUBAI - UAE\nORG Logistics, A15/A16, COMMERCITY, DUBAI - UAE\n\nKuw...",0,ORG Logistics,2025-06-20 10:32:37.611,0,"ORG Logistics is a fast-growing transportation and logistics company providing streamlined warehousing, ocean freigh...",None,info@orglogistics.com,None,None,None,+971 4 259 4828,None,Hi7WNgqZ,None,None,0.0,0,http://www.orglogistics.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,+965 97628668
15,792,"Suite 1202, Creative Tower, Hamad Bin Abdallah St, P.O Box 4422, Fujairah, UAE",0,O-Square Communications Hub,2025-06-20 10:32:37.592,0,"O-Square Communications Hub specializes in providing comprehensive customer service outsourcing solutions in UAE, of...",None,info@o-square.ae,None,None,None,+971 4506 4444,None,7QHDzeGA,None,None,0.0,0,https://www.o-square.ae,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None
16,791,"India Office: F - 3 & 4, New Bus Port, Becharpura Rd, Palanpur, Gujarat 385001, India\nUS Office: 9116 68th Ave, For...",0,NKSD Service Private Limited,2025-06-20 10:32:37.571,0,NKSD Service Private Limited provides offshore staffing solutions to accounting and tax firms across North America. ...,None,kevin@nksdcpa.com,None,None,None,+1-646-785-4651,None,2pJ3XhoR,None,None,0.0,0,https://nksdcpa.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,+91 9687709404
17,790,"Unit No: 1701 JBC4 Jumeirah Lakes Towers Dubai UAE; Boulevard Plaza Tower 2, Level 22 - The Gate Office #5, Downtown...",0,Nimbus Consultancy,2025-06-20 10:32:37.552,0,"Nimbus Consultancy specializes in hassle-free company formation, corporate structuring and post incorporation servic...",None,info@nimbusconsultancy.com,None,None,None,+971 4 718 1794,None,NumU5Wn7,None,None,0.0,0,https://nimbusconsultancy.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None
18,789,"Office No. 11, East & West International Building, Musaffah Industrial M-4, Abu Dhabi - UAE",0,Arabian Premier Logistics,2025-06-20 10:32:37.533,0,"Arabian Premier Logistics is an integrated logistics service provider offering fast, safe and reliable delivery of g...",None,ops@apl-uae.com,None,None,None,+971 2585 5830,None,ct84kGlu,None,None,0.0,0,https://apl-uae.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None
19,788,"Dubai, United Arab Emirates",0,Nexus Partners,2025-06-20 10:32:37.515,0,"Nexus Partners provides comprehensive business setup and company formation services in Dubai and UAE, including main...",None,paul@nexus-uae.com,None,None,None,None,None,d1pZl6TI,None,None,0.0,0,https://nexus-uae.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None
20,787,"71 Kingsway, WC2B 6ST, London, United Kingdom",0,Nexia International Limited,2025-06-20 10:32:37.497,0,"Nexia provides comprehensive professional services including audit, accounting, tax and advisory services delivered ...",None,info@nexia.com,None,None,None,+44 20 7436 1114,None,qPwvdK87,None,None,0.0,0,https://nexia.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None
21,786,"Al Moosa Tower 1, Level 7, Suite 702, PO Box 33089, Sheikh Zayed Road, Dubai, United Arab Emirates",0,Nex Consultants,2025-06-20 10:32:37.479,0,"Nex Consultants is a multi-disciplinary firm providing comprehensive business setup, accounting, and consultancy ser...",None,info@nexconsultants.com,None,None,None,+97143887577,None,lrYHrLPy,None,None,0.0,0,https://nexconsultants.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,+971504945106
22,785,"Head Office: S-13, St. Soldier Tower, G-Block Commercial Centre, Vikas Puri, New Delhi – 110018, India\nBranch Offic...",0,Neeraj Bhagat & Co.,2025-06-20 10:32:37.458,0,Neeraj Bhagat & Co. is a prominent Chartered Accountancy firm offering comprehensive services including accounts out...,None,info@neerajbhagat.com,None,None,None,+91-11-48560000,None,4lRPCxLb,None,None,0.0,0,https://neerajbhagat.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None
23,784,Multiple offices across India,0,Nangia & Co LLP,2025-06-20 10:32:37.437,0,"Nangia & Co LLP is a leading professional services firm providing comprehensive tax, audit, risk advisory, M&A, IPO ...",None,shalu.kedia@nangia.com,None,None,None,None,None,P67Ixin2,None,None,0.0,0,https://nangia.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None
24,783,"Downtown Dubai, UAE",0,NH Management,2025-06-20 10:32:37.417,0,"NH Management is a leading corporate services and consultancy firm established in the UAE, offering comprehensive so...",None,mary@nhmanagement.com,None,None,None,+971 4 222 1327,None,Yt8ltBiy,None,None,0.0,0,https://nhmanagement.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None
25,782,1. United Arab Emirates (UAE)\n2. Malaysia\n3. Singapore \n4. South Africa\n5. United Kingdom,0,NEBA Private Clients,2025-06-20 10:32:37.397,0,"NEBA Private Clients offers comprehensive wealth management and investment services including financial planning, in...",None,jcert@globaleye.com,None,None,None,None,None,DBeOuYIi,None,None,0.0,0,https://nebaprivateclients.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None
26,781,"Doha, Qatar",0,Nasser Aldosari Auditing and Consulting,2025-06-20 10:32:37.377,0,"Nasser Aldosari Auditing and Consulting provides comprehensive auditing, tax and business consultancy services with ...",None,shareek@nadauditing.com,None,None,None,None,None,LJ7V07j2,None,None,0.0,0,https://www.nadauditing.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,+974 6645 2173
27,780,"Addiyar Bldg, Ground Floor, Sheik Zayed Rd, Dubai UAE",0,MyVenturePro,2025-06-20 10:32:37.356,0,"Comprehensive business setup services in UAE, specializing in freezone and mainland company formation. Services incl...",None,info@myventurepro.com,None,None,None,None,None,qkRP1ULC,None,None,0.0,0,https://myventurepro.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,+971 54 280 7441
28,779,"Office 704, Indigo Tower, Cluster D, Jumeirah Lake Towers, Dubai, UAE",0,My Business Consulting DMCC,2025-06-20 10:32:37.336,0,"My Business Consulting DMCC specializes in business setup and corporate services in the UAE, offering comprehensive ...",None,setup@mybusinessconsulting.ae,None,None,None,+971 4 4327436,None,YoeTLw1z,None,None,0.0,0,https://mybusinessconsulting.ae,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,+971 58 811 9981
29,778,"Hamriyah Free Zone Authority, P.O. Box: 1377, Sharjah, UAE",0,Hamriyah Free Zone Authority,2025-06-20 10:32:37.312,0,"Hamriyah Free Zone Authority (HFZA) offers comprehensive business setup and investment services in Sharjah, UAE. Est...",None,info@hfza.ae,None,None,None,+971 6 526 3333,None,pUCiM64Z,None,None,0.0,0,https://hfza.ae,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None
30,777,"Abu Dhabi Office: Level 10, World Trade Centre Abu Dhabi, Hamdan Bin Mohammed Street, P.O. Box 3727, Abu Dhabi, UAE\...",0,Hadef & Partners,2025-06-20 10:32:37.294,0,"Hadef & Partners is a long-established UAE law firm with over 100 lawyers in Abu Dhabi and Dubai, providing expert l...",None,info@hadefpartners.com,None,None,None,+971 2 205 5300,None,jnSpczVt,None,None,0.0,0,https://hadefpartners.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None
31,776,None,0,Hyphen Accounting & Bookkeeping,2025-06-20 10:32:37.272,0,"Professional accounting, bookkeeping, and financial advisory services including tax consultation.",None,info@hyphenaccounting.com,None,None,None,None,None,c5oXNmyI,None,None,0.0,0,https://hyphenaccounting.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None
32,775,"Headquarters: 201 Notre Dame West, Suite 500, Montreal, QC, H2Y 1T4. Affiliate offices: Paris, London, Mumbai, Lagos...",0,Hitlab,2025-06-20 10:32:37.254,0,Hitlab is a digital media entertainment company that uses AI technology to discover and analyze music. Their core pr...,None,info@hitlab.com,None,None,None,None,None,dNSLb6Ww,None,None,0.0,0,https://hitlab.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None
33,774,"SHAMS Business Center, Sharjah Media City, Sharjah, UAE",0,HDMS Consultants,2025-06-20 10:32:37.232,0,"HDMS Consultants provides expert advisory services across multiple domains including tax, company formation, corpora...",None,info@hdmsconsultants.com,None,None,None,None,None,hXlcTGeM,None,None,0.0,0,https://hdmsconsultants.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,+971 585581215
34,773,"1. D2706 Bhartiya City, Near Hebbal, Thanisandra Main Road, Bengaluru, Karnataka 560064, India\n2. Verger Mangues, P...",0,Gulf Xellence,2025-06-20 10:32:37.201,0,"World's Leading event management & Business Training company, specializing in organizing and delivering state-of-the...",None,info@gulfxellence.com,None,None,None,None,None,WNrrNwTP,None,None,0.0,0,https://gulfxellence.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,+91 8884113131
35,772,"Office 1201, Nassima Tower, Sheikh Zayed Road, Dubai, United Arab Emirates",0,Guide Consultants,2025-06-20 10:32:37.182,0,"Guide Consultants specializes in Citizenship by Investment and Golden Visa programs, leveraging over 10 years of exp...",None,info@guideconsultants.com,None,None,None,+971 4 3858850,None,IB00e89o,None,None,0.0,0,https://www.guideconsultants.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,+971 54 252 2229
36,771,"Multiple branches across India and Canada:\n1. Chennai Anna Salai (Head Office): No.576, MOH Building, 1st floor, Te...",0,GreenTree Immigration,2025-06-20 10:32:37.158,0,GreenTree Immigration provides comprehensive visa and immigration consultancy services for multiple countries includ...,None,info@greentreeimmigration.com,None,None,None,None,None,FbUEEqkk,None,None,0.0,0,https://www.greentreeimmigration.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None
37,770,"Office No. 207 2nd Floor, Al Muhairi Plaza Building, 27-18 Street, Al Khabaisi Area, Dubai, UAE. Landmark: Behind Al...",0,GLT TAX CONSULTANT LLC,2025-06-20 10:32:37.139,0,GLT TAX CONSULTANT LLC (GLT) is a sister company of Greenlines Group offering comprehensive tax and accounting servi...,None,info1@greenlinestax.com,None,None,None,042594211,None,xrOIfb1t,None,None,0.0,0,https://greenlinestax.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,050 634 0433
38,769,"Abu Dhabi: Office 5-1, 8th Floor, Tower 1, Mazyad Mall, Abu Dhabi, UAE\nDubai: Office M06, Mezzanine Floor, Sarah Bu...",0,Golden Falcon Consultants,2025-06-20 10:32:37.121,0,Golden Falcon Consultants (GFC) provides comprehensive financial and tax consultancy services including audit & assu...,None,sales@goldenfalconconsultants.com,None,None,None,None,None,MHNTytJr,None,None,0.0,0,https://goldenfalconconsultants.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,+971 58 227 4683
39,768,"490 Lake Park Ave, #10116, Oakland, CA 94610",0,Go Overseas,2025-06-20 10:32:37.103,0,Go Overseas is a community reviews platform that helps people find and compare meaningful travel programs abroad. Th...,None,community@gooverseas.com,None,None,None,None,None,SM3JEktH,None,None,0.0,0,https://www.gooverseas.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None

In [1]:
import pandas as pd
import mysql.connector as mc

# # ── DB CONFIG ──────────────────────────────────────────────────────
# HOST     = "127.0.0.1"
# PORT     = 3306
# USER     = "root"
# PASSWORD = "rootpass"
# SCHEMA   = "growbal"

HOST     = "13.61.25.212"
PORT     = 3306
USER     = "root"
PASSWORD = "1w4rer@@t"
SCHEMA   = "growbal"


# ── CONNECT ────────────────────────────────────────────────────────
cnx = mc.connect(
    host=HOST, port=PORT,
    user=USER, password=PASSWORD,
    database=SCHEMA,
    auth_plugin="mysql_native_password",
)
cur = cnx.cursor(dictionary=True)

# ── QUERY DATA FROM 'service' TABLE ──────────────────────────
cur.execute(f"SELECT * FROM `{SCHEMA}`.`service`;")
data = cur.fetchall()

# ── DISPLAY DATA AS DATAFRAME ──────────────────────────────────────
df_service = pd.DataFrame(data)

# ── DISPLAY ALL COLUMNS ──────────────────────────────────────────────
pd.set_option("display.max_columns", None)
# ── DISPLAY OPTIONS ────────────────────────────────────────────────
pd.set_option("display.max_rows", None)
pd.set_option("display.max_colwidth", 120)
print(len(df_service))
display(df_service.head(200))

cnx.close()

508

,id,description,name,type_establishment,image_id,type_service_id,offre_id,deleted
0,1,Legal,Legal,0.0,2.0,1.0,None,0
1,4,Business Process Outsourcing,Business Process Outsourcing,0.0,5.0,1.0,None,0
2,5,New Company Setup & Licensing,New Company Setup & Licensing,3.0,6.0,1.0,None,0
3,6,"Investor, Business & Freelance Visa","Investor, Business & Freelance Visa",3.0,7.0,1.0,None,0
4,7,Legal,Legal,0.0,528.0,2.0,None,1
5,8,Finance,Finance,0.0,1.0,1.0,None,0
6,9,Finance,Finance,0.0,1.0,3.0,None,0
7,10,Consulting,Consulting,0.0,1.0,1.0,None,0
8,11,Consulting,Consulting,0.0,1.0,3.0,None,1
9,12,Community & Recreation,Community & Recreation,0.0,1.0,1.0,None,0
10,13,Community & Recreation,Community & Recreation,0.0,1.0,2.0,None,0
11,14,Community & Recreation,Community & Recreation,0.0,1.0,3.0,None,0
12,15,"Real Estate, Housing & Hospitality","Real Estate, Housing & Hospitality",0.0,1.0,2.0,None,0
13,16,Leh,Leh,3.0,1.0,2.0,None,1
14,17,Leh,Lehh,3.0,1.0,2.0,None,1
15,18,service,service,0.0,1929.0,3.0,None,1
16,19,service,service,3.0,1930.0,2.0,None,1
17,20,service 1,service 1,3.0,1931.0,2.0,None,1
18,21,service 11,service 11,3.0,1933.0,2.0,None,1
19,22,service 12,service 12,3.0,1935.0,2.0,None,1
20,23,"Legal services encompass a diverse array of offerings provided by qualified legal professionals, including attorneys...",Legal Services,0.0,2080.0,2.0,None,1
21,24,"Legal services encompass a wide range of offerings designed to address the legal needs and concerns of individuals, ...",General Legal Services,0.0,2081.0,3.0,None,1
22,25,"Legal services encompass a wide range of offerings designed to address the legal needs and concerns of individuals, ...",General Legal,0.0,2085.0,3.0,None,1
23,26,"Legal services encompass a wide range of offerings designed to address the legal needs and concerns of individuals, ...",General Law Services,0.0,2086.0,3.0,None,1
24,27,"Financial institutions such as banks, investment firms, and insurance companies to provide capital, investment oppor...",Banking & Finance,3.0,2095.0,3.0,None,1
25,28,"Infrastructure and services to facilitate the movement of goods and people, including ports, airports, customs broke...",Logistics and Transportation Services,3.0,2096.0,3.0,None,1
26,29,This encompasses services that cover a wide range of financial activities and transactions.,Finance and banking,3.0,2097.0,1.0,None,1
27,30,"Help businesses find suitable office space, industrial facilities, and residential accommodations.",Real Estate,3.0,2098.0,3.0,None,1
28,31,None,Travel and Tourism,3.0,2099.0,3.0,None,1
29,32,"Real estate encompasses the buying, selling, renting, and management of properties, including land, buildings, and o...",Real Estate,0.0,2101.0,1.0,None,1
30,33,"Real estate encompasses the buying, selling, renting, and management of properties, including land, buildings, and o...",Real Estate Services,3.0,2103.0,3.0,None,1
31,34,"Real estate encompasses the buying, selling, renting, and management of properties, including land, buildings, and o...",Real estate,3.0,2104.0,3.0,None,1
32,35,"Buying, selling, renting, and management of properties, including land, buildings, and other structures.",Real Estate & Residence,3.0,2110.0,3.0,None,1
33,36,"Real estate involves a spectrum of activities, including development, management, investment, and consulting.",Residence & Real Estate,3.0,2112.0,3.0,None,1
34,37,"Real estate involves a spectrum of activities, including development, management, investment, and consulting.",Residence&Real Estate,3.0,2116.0,3.0,None,1
35,38,A broad range of advisory services aimed at providing expertise and guidance across various domains.,Consulting Services,0.0,2117.0,3.0,None,1
36,39,Cater to the needs of individuals or households for moving goods or people on a smaller scale.,Logistics & Transportation,3.0,2118.0,2.0,None,1
37,40,"Logistics and transportation services are tailored to meet the specific needs of businesses, optimizing supply chain...",Logistics&Transportation,3.0,2119.0,1.0,None,1
38,41,Optimizing business operations and managing administrative tasks efficiently to enhance overall performance and prod...,Operations & Administration,3.0,2120.0,1.0,None,1
39,42,Providing a range of goods and services to consumers.,Retail,3.0,2139.0,3.0,None,1
40,43,A variety of educational offerings tailored to different needs and audiences.,Education,3.0,2140.0,3.0,None,1
41,44,Individual education services cater to the personalized learning needs of individuals.,Education,3.0,2141.0,2.0,None,1
42,45,"Business education services target corporations and organizations, offering specialized training and development pro...",Education,3.0,2142.0,1.0,None,1
43,46,"Process of exploring, innovating, and creating new products, services, and technologies to drive business growth.",Research & Development,3.0,2143.0,1.0,None,1
44,47,"Process of exploring, innovating, and creating new products, services, and technologies to drive business growth.",Research & Development,3.0,2144.0,3.0,None,1
45,48,"Provision of medical services aimed at promoting, maintaining, or restoring health and well-being.",Healthcare,0.0,2145.0,3.0,None,1
46,49,Expert advice and guidance to individuals and businesses to help them achieve specific objectives.,Consulting,0.0,2148.0,3.0,None,0
47,50,Managing the flow of money.,Banking & Finance,0.0,2149.0,1.0,None,0
48,51,Managing the flow of money.,Banking & Finance,0.0,2150.0,3.0,None,0
49,52,"Education equips individuals with knowledge, skills, and values necessary for personal growth, civic engagement, and...",Education,0.0,2152.0,1.0,None,0
50,53,"Education equips individuals with knowledge, skills, and values necessary for personal growth, civic engagement, and...",Education,0.0,2153.0,2.0,None,0
51,54,"Education equips individuals with knowledge, skills, and values necessary for personal growth, civic engagement, and...",Education,0.0,2155.0,3.0,None,0
52,55,"Legislate, create laws and resolute disputes within a society through judicial processes.",Government,0.0,2156.0,1.0,None,0
53,56,"Legislate, create laws and resolute disputes within a society through judicial processes.",Government,0.0,2157.0,2.0,None,0
54,57,"Legislate, create laws and resolute disputes within a society through judicial processes.",Government,0.0,2158.0,3.0,None,0
55,58,"Maintaining health through prevention, diagnosis & treatment of physical & mental impairments.",Healthcare,0.0,2159.0,1.0,None,0
56,59,"Maintaining health through prevention, diagnosis & treatment of physical & mental impairments.",Healthcare,0.0,2160.0,2.0,None,0
57,60,"Maintaining health through prevention, diagnosis & treatment of physical & mental impairments.",Healthcare,0.0,2161.0,3.0,None,0
58,61,Create a friendly and comfortable experience for guests or visitors.,Hospitality,0.0,2162.0,1.0,None,0
59,62,Create a friendly and comfortable experience for guests or visitors.,Hospitality,0.0,2163.0,3.0,None,0
60,63,Strategic management of an organization's workforce to ensure their effective contribution towards achieving organiz...,Human Resource Management,0.0,2164.0,1.0,None,0
61,64,Strategic management of an organization's workforce to ensure their effective contribution towards achieving organiz...,Human Resource Management,0.0,2165.0,2.0,None,0
62,65,Strategic management of an organization's workforce to ensure their effective contribution towards achieving organiz...,Human Resource Management,0.0,2166.0,3.0,None,0
63,66,"A range of legal tasks, such as drafting legal documents and providing legal advice on various matters.",Legal,0.0,2167.0,2.0,None,0
64,67,"A range of legal tasks, such as drafting legal documents and providing legal advice on various matters.",Legal,0.0,2168.0,3.0,None,0
65,68,Ensure the seamless movement of goods from one place to another.,Logistics & Transportation,0.0,2169.0,1.0,None,0
66,69,Ensure the seamless movement of goods from one place to another.,Logistics & Transportation,0.0,2172.0,2.0,None,0
67,70,Ensure the seamless movement of goods from one place to another.,Logistics & Transportation,0.0,2173.0,3.0,None,0
68,71,"Create awareness, generating interest, and converting leads into customers for a product or service.",Marketing & Sales,0.0,2174.0,1.0,None,0
69,72,"Create awareness, generating interest, and converting leads into customers for a product or service.",Marketing & Sales,0.0,2175.0,3.0,None,0
70,73,Management of operations and administrative functions.,Operations & Administration,0.0,2177.0,1.0,None,0
71,74,This covers a wide range of properties and the services associated with them.,Real Estate,0.0,2178.0,1.0,None,0
72,75,This covers a wide range of properties and the services associated with them.,Real Estate,0.0,2182.0,3.0,None,0
73,76,Businesses that sell products directly to consumers.,Retail,0.0,2184.0,3.0,None,0
74,77,"The process of moving from one place to another, often involving a change of residence or workplace.",Relocation,0.0,2185.0,1.0,None,0
75,78,"The process of moving from one place to another, often involving a change of residence or workplace.",Relocation,0.0,2186.0,2.0,None,0
76,79,"The process of moving from one place to another, often involving a change of residence or workplace.",Relocation,0.0,2187.0,3.0,None,0
77,80,Facilities to support product development or innovation initiatives.,Research & Development,0.0,2188.0,1.0,None,0
78,81,Facilities to support product development or innovation initiatives.,Research & Development,0.0,2189.0,3.0,None,0
79,82,Ensuring protection and well-being through measures that mitigate risks and prevent harm.,Safety & Security,0.0,2190.0,1.0,None,1
80,83,Ensuring protection and well-being through measures that mitigate risks and prevent harm.,Safety & Security,0.0,2191.0,1.0,None,1
81,84,Ensuring protection and well-being through measures that mitigate risks and prevent harm.,Safety & Security,0.0,2192.0,3.0,None,0
82,85,Ensuring protection and well-being through measures that mitigate risks and prevent harm.,Safety & Security,0.0,2193.0,1.0,None,0
83,86,Innovations and tools used to facilitate tasks.,Technology,0.0,2194.0,3.0,None,0
84,87,Innovations and tools used to facilitate tasks.,Technology,0.0,2196.0,1.0,None,0
85,88,Provide services to facilitate exploration for individuals.,Travel & Tourism,0.0,2197.0,3.0,None,0
86,89,New Company Setup and Licensing,New Company Setup and Licensing,0.0,2219.0,1.0,None,0
87,90,"Locating suitable tenants for residential or commercial properties, negotiating lease terms, and overseeing the leas...",Property Leasing Services,3.0,2229.0,1.0,None,0
88,91,Secure necessary permits and approvals for construction or modifications to a property.,"Planning, Engineering & Construction Approval Services",3.0,2230.0,1.0,None,0
89,92,"Connect properties to essential services like electricity and water, and acquire No Objection Certificates (NOCs) fr...",Utilities (Connection & NOCs),3.0,2231.0,1.0,None,0
90,93,Establish internet and phone infrastructure for business operations.,IT and Telecommunication Services,3.0,2232.0,1.0,None,0
91,94,Ensure the smooth functioning and maintenance of properties.,Facility Management,3.0,2233.0,1.0,None,0
92,95,"Security measures to protect property, assets, and personnel.",Security Services,3.0,2234.0,1.0,None,0
93,96,Secure storage space for inventory.,Warehousing Solutions,3.0,2235.0,1.0,None,0
94,97,Organize the final stage of delivery from warehouse to customer location.,Last-Mile Delivery Services,3.0,2236.0,1.0,None,0
95,98,Assist with customs regulations and procedures for importing and exporting goods.,Customs Consulting & Services,3.0,2237.0,1.0,None,0
96,99,Assist businesses in establishing and managing online stores.,Ecommerce Enablement,3.0,2238.0,1.0,None,0
97,100,Obtain work visas for foreign employees.,Employment Visa,3.0,2239.0,1.0,None,0
98,101,"Handle administrative tasks related to payroll, taxes, and immigration.",Administrative Services,3.0,2240.0,1.0,None,0
99,102,Finding housing for employees.,Staff Accommodation,3.0,2241.0,1.0,None,0
100,103,Offer assistance with marketing and promotional efforts.,Marketing Support Services,3.0,2242.0,1.0,None,0
101,104,Coordinating port logistics and operations.,Port Services,3.0,2243.0,1.0,None,0
102,105,Arranging air transportation for goods.,Air Cargo Services,3.0,2244.0,1.0,None,0
103,106,"Enable citizens or permanent residents of a country to sponsor eligible family members for immigration, initiating t...",Family Sponsorship,3.0,2245.0,2.0,None,0
104,107,Services that assist individuals in finding a job.,Job Search & Placement,3.0,2246.0,2.0,None,0
105,108,"Assist passengers with their travel needs including check-in support, luggage management, security checks, and acces...",Airport Services,3.0,2247.0,3.0,None,0
106,109,Media,Media,3.0,2323.0,3.0,None,0
107,119,"Piano sales and services offering new and used grand, upright, and digital pianos. Comprehensive piano-related servi...",Piano Sales and Services,NaN,NaN,NaN,None,0
108,120,"Thrift store retail services offering a diverse selection of pre-owned merchandise including jewelry, clothing, shoe...",Kiwanis Marketplace Thrift Store,NaN,NaN,NaN,None,0
109,121,"Comprehensive web design and digital media services encompassing website development, domain management, hosting, em...",Web Design and Digital Media Services,NaN,NaN,NaN,None,0
110,122,"Consignment retail services facilitating the buying and selling of pre-owned items including clothing, jewelry, home...",Consignment Store Services,NaN,NaN,NaN,None,0
111,123,"Professional services firm offering comprehensive business solutions including audit, consulting, deals advisory, ri...",Professional Services,NaN,NaN,3.0,None,0
112,124,"Luxury resale and consignment services specializing in authenticated pre-owned designer items including handbags, cl...",Luxury Fashion Consignment Store,NaN,NaN,NaN,None,0
113,125,"Luxury resale service specializing in authenticated pre-owned designer merchandise, including fashion accessories, c...",Luxury Fashion Consignment Store,NaN,NaN,NaN,None,0
114,126,"Thrift retail service offering a wide range of second-hand merchandise including clothing, housewares, and home good...",Thrift Store and Second Hand Clothing Retail,NaN,NaN,NaN,None,0
115,127,Combined thrift store and educational service center offering second-hand retail alongside community development pro...,Thrift Store and Community Programs,NaN,NaN,NaN,None,0
116,128,"Legal services specializing in business establishment, including strategic legal advice, mergers and acquisitions, c...",Legal and Immigration Services,NaN,NaN,1.0,None,0
117,129,"Professional accounting and financial services encompassing accounts preparation, tax planning and compliance, busin...",Chartered Accountancy & Business Advisory Services,NaN,NaN,1.0,None,0
118,130,"Comprehensive visa and immigration services including visa application processing, document verification, visa renew...",Immigration and Visa Services,NaN,NaN,1.0,None,0
119,131,"Integrated corporate services covering company incorporation, accounting, taxation, corporate secretarial work, audi...",Professional Corporate Services and Business Solutions,NaN,NaN,1.0,None,0
120,132,"Management consultancy and business solutions encompassing business establishment, accounting, auditing, and tax adv...",Business Setup and Accounting Services in Dubai,NaN,NaN,1.0,None,0
121,133,"Comprehensive business solutions encompassing company formation, accounting, auditing, marketing, and real estate se...",Comprehensive Business Solutions,NaN,NaN,1.0,None,0
122,134,"Professional consulting services covering tax agency services, assurance services, financial advisory, internal audi...",Professional Business Services,NaN,NaN,1.0,None,0
123,135,"Financial and business services including tax advisory, accounting, CFO services, business administration, and wealt...",Financial and Business Advisory Services,NaN,NaN,1.0,None,0
124,136,"Comprehensive accounting, taxation and payroll processing services including audit reports, VAT services, bookkeepin...","Accounting, Taxation & Payroll Processing Services",NaN,NaN,1.0,None,0
125,137,Immigration and citizenship consulting services specializing in Citizenship by Investment Programs and Investor Immi...,Immigration and Second Citizenship by Investment Services,NaN,NaN,1.0,None,0
126,138,Immigration and visa consulting services offering comprehensive assistance for various visa categories including ski...,Global Immigration and Visa Services,NaN,NaN,1.0,None,0
127,139,"Business consulting and professional services encompassing company formation assistance, corporate services, account...",Corporate and Professional Services,NaN,NaN,1.0,None,0
128,140,"International financial center services offering comprehensive business solutions including legal structuring, compa...",International Financial Centre Services,NaN,NaN,1.0,None,0
129,141,"Comprehensive taxation, legal compliance, and management consulting services including tax filing, GST registration,...",Legal and Tax Compliance Services,NaN,NaN,1.0,None,0
130,142,"Comprehensive financial and business solutions encompassing bookkeeping, VAT services, corporate tax, auditing, payr...",Professional Accounting and Business Solutions,NaN,NaN,1.0,None,0
131,143,"Professional financial services offering comprehensive solutions in auditing, taxation, and business advisory. Servi...","Comprehensive Audit, Tax & Advisory Services",NaN,NaN,1.0,None,0
132,144,"Comprehensive audit and assurance services including internal audit, external audit, tax audit, revenue audit, and i...",Audit & Assurance Services in Dubai,NaN,NaN,1.0,None,0
133,145,"Professional auditing and accounting services including comprehensive audit solutions, accounting services, VAT/tax ...",Professional Auditing & Accounting Services in UAE,NaN,NaN,1.0,None,0
134,146,"Comprehensive real estate services including property sales and rentals, property selection assistance, transaction ...",Dubai Real Estate Services,NaN,NaN,1.0,None,0
135,147,"Comprehensive real estate services including property sales, leasing, management, and investment advisory. End-to-en...",Dubai Real Estate Services,NaN,NaN,1.0,None,0
136,148,"Business setup and consulting services including company formation, banking assistance, accounting services, tax com...",Business Setup and Consulting Services in Dubai,NaN,NaN,1.0,None,0
137,149,"Comprehensive audit, financial, and business advisory services including internal and external auditing, tax consult...",Comprehensive Audit & Financial Services,NaN,NaN,1.0,None,0
138,150,"Professional financial services including audit and assurance, taxation, business advisory, accounting and bookkeepi...","Professional Audit, Tax and Advisory Services",NaN,NaN,1.0,None,0
139,151,"Business establishment and management consulting services including company incorporation, licensing assistance, vis...",Business Setup and Management Consulting Services in Dubai,NaN,NaN,1.0,None,0
140,152,"Professional financial and tax services including financial auditing, tax consultancy, bookkeeping, and business adv...",Chartered Accountancy and Tax Consultancy Services,NaN,NaN,1.0,None,0
141,153,"Comprehensive financial audit and tax consultancy services including statutory audits, periodic auditing, inventory ...",Comprehensive Tax and Audit Services,NaN,NaN,1.0,None,0
142,154,"Comprehensive immigration and relocation services encompassing various visa categories (skilled, business, investmen...",Immigration and Relocation Services,NaN,NaN,1.0,None,0
143,155,"Business consultancy services including company formation across various jurisdictions, visa processing, business su...",UAE Business Setup and PRO Services,NaN,NaN,1.0,None,0
144,156,"Comprehensive tax consultancy services including VAT registration and compliance, corporate taxation, tax refund pro...",Tax Consultancy Services,NaN,NaN,1.0,None,0

In [2]:
import pandas as pd
import mysql.connector as mc

# ── DB CONFIG ──────────────────────────────────────────────────────
HOST     = "127.0.0.1"
PORT     = 3306
USER     = "root"
PASSWORD = "rootpass"
SCHEMA   = "growbal"

# ── CONNECT ────────────────────────────────────────────────────────
cnx = mc.connect(
    host=HOST, port=PORT,
    user=USER, password=PASSWORD,
    database=SCHEMA,
    auth_plugin="mysql_native_password",
)
cur = cnx.cursor(dictionary=True)

# ── QUERY DATA FROM 'service' TABLE ────────────────────────────────
cur.execute(f"SELECT * FROM `{SCHEMA}`.`service`;")
data = cur.fetchall()

# ── CREATE DATAFRAME ────────────────────────────────────────────────
df_service = pd.DataFrame(data)

# ── DISPLAY ALL COLUMNS ──────────────────────────────────────────────
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
pd.set_option("display.max_colwidth", 120)

# ── DISPLAY UNIQUE VALUES AND COUNTS FOR 'name' and 'description' ────
print("\nUnique 'name' column values:")
unique_names = df_service['name'].unique()

print(f"Number of unique 'name' values: {len(unique_names)}")

print("\nUnique 'description' column values:")
unique_descriptions = df_service['description'].unique()

print(f"Number of unique 'description' values: {len(unique_descriptions)}")

print(unique_names)
print(unique_descriptions)


# ── DISPLAY FIRST 200 ROWS OF DATAFRAME ──────────────────────────────
# display(df_service.head(200))

cnx.close()

Unique 'name' column values:
Number of unique 'name' values: 88

Unique 'description' column values:
Number of unique 'description' values: 87
['Legal' 'Business Process Outsourcing' 'New Company Setup & Licensing'
 'Investor, Business & Freelance Visa' 'Finance' 'Consulting'
 'Community & Recreation' 'Real Estate, Housing & Hospitality' 'Leh'
 'Lehh' 'service ' 'service 1' 'service 11' 'service 12' 'Legal Services'
 'General Legal Services' 'General Legal' 'General Law Services'
 'Banking & Finance' 'Logistics and Transportation Services'
 'Finance and banking' 'Real Estate' 'Travel and Tourism'
 'Real Estate Services' 'Real estate ' 'Real Estate & Residence'
 'Residence & Real Estate  ' 'Residence&Real Estate  '
 'Consulting Services' 'Logistics & Transportation '
 'Logistics&Transportation ' 'Operations & Administration' 'Retail'
 'Education' 'Education ' 'Research & Development' 'Healthcare'
 'Consulting ' 'Banking & Finance ' 'Education  ' 'Government'
 'Government ' 'Government  ' 'Healthcare ' 'Healthcare  ' 'Hospitality'
 'Hospitality ' 'Human Resource Management' 'Human Resource Management '
 'Legal ' 'Logistics & Transportation' 'Logistics & Transportation  '
 'Marketing & Sales' 'Marketing & Sales ' 'Operations & Administration '
 'Real Estate ' 'Real Estate  ' 'Retail ' 'Relocation' 'Relocation '
 'Relocation  ' 'Research & Development ' 'Safety & Security'
 'Safety & Security ' 'Safety & Security  ' 'Technology'
 'Travel & Tourism' 'New Company Setup and Licensing'
 'Property Leasing Services'
 'Planning, Engineering & Construction Approval Services'
 'Utilities (Connection & NOCs)' 'IT and Telecommunication Services'
 'Facility Management' 'Security Services' 'Warehousing Solutions '
 'Last-Mile Delivery Services' 'Customs Consulting & Services'
 'Ecommerce Enablement ' 'Employment Visa' 'Administrative Services'
 'Staff Accommodation' 'Marketing Support Services' 'Port Services'
 'Air Cargo Services' 'Family Sponsorship' 'Job Search & Placement'
 'Airport Services' 'Media']
['Legal' 'Business Process Outsourcing' 'New Company Setup & Licensing'
 'Investor, Business & Freelance Visa ' 'Finance' 'Consulting'
 'Community & Recreation' 'Real Estate, Housing & Hospitality' 'Leh'
 'service ' 'service 1' 'service 11' 'service 12'
 'Legal services encompass a diverse array of offerings provided by qualified legal professionals, including attorneys, lawyers, paralegals, and legal consultants.'
 'Legal services encompass a wide range of offerings designed to address the legal needs and concerns of individuals, businesses, and organizations. '
 'Financial institutions such as banks, investment firms, and insurance companies to provide capital, investment opportunities, and risk management services.'
 'Infrastructure and services to facilitate the movement of goods and people, including ports, airports, customs brokerage services, freight forwarding, and warehousing.'
 'This encompasses services that cover a wide range of financial activities and transactions.'
 'Help businesses find suitable office space, industrial facilities, and residential accommodations.'
 None
 'Real estate encompasses the buying, selling, renting, and management of properties, including land, buildings, and other structures. '
 'Buying, selling, renting, and management of properties, including land, buildings, and other structures. '
 'Real estate involves a spectrum of activities, including development, management, investment, and consulting.'
 'A broad range of advisory services aimed at providing expertise and guidance across various domains.'
 'Cater to the needs of individuals or households for moving goods or people on a smaller scale.'
 'Logistics and transportation services are tailored to meet the specific needs of businesses, optimizing supply chain management, distribution networks, and transportation operations.'
 'Optimizing business operations and managing administrative tasks efficiently to enhance overall performance and productivity.'
 'Providing a range of goods and services to consumers.'
 'A variety of educational offerings tailored to different needs and audiences.'
 'Individual education services cater to the personalized learning needs of individuals.'
 'Business education services target corporations and organizations, offering specialized training and development programs.'
 'Process of exploring, innovating, and creating new products, services, and technologies to drive business growth.'
 'Provision of medical services aimed at promoting, maintaining, or restoring health and well-being.'
 'Expert advice and guidance to individuals and businesses to help them achieve specific objectives.'
 'Managing the flow of money. ' 'Managing the flow of money.  '
 'Education equips individuals with knowledge, skills, and values necessary for personal growth, civic engagement, and professional success. '
 'Education equips individuals with knowledge, skills, and values necessary for personal growth, civic engagement, and professional success.  '
 'Legislate, create laws and resolute disputes within a society through judicial processes.'
 'Legislate, create laws and resolute disputes within a society through judicial processes. '
 'Legislate, create laws and resolute disputes within a society through judicial processes.  '
 'Maintaining health through prevention, diagnosis & treatment of physical & mental impairments.'
 'Maintaining health through prevention, diagnosis & treatment of physical & mental impairments. '
 'Create a friendly and comfortable experience for guests or visitors.'
 'Create a friendly and comfortable experience for guests or visitors. '
 "Strategic management of an organization's workforce to ensure their effective contribution towards achieving organizational goals."
 "Strategic management of an organization's workforce to ensure their effective contribution towards achieving organizational goals. "
 'A range of legal tasks, such as drafting legal documents and providing legal advice on various matters.'
 'A range of legal tasks, such as drafting legal documents and providing legal advice on various matters. '
 'Ensure the seamless movement of goods from one place to another. '
 'Ensure the seamless movement of goods from one place to another.  '
 'Create awareness, generating interest, and converting leads into customers for a product or service.'
 'Create awareness, generating interest, and converting leads into customers for a product or service. '
 'Management of operations and administrative functions.'
 'This covers a wide range of properties and the services associated with them.'
 'This covers a wide range of properties and the services associated with them. '
 'Businesses that sell products directly to consumers. '
 'The process of moving from one place to another, often involving a change of residence or workplace.'
 'The process of moving from one place to another, often involving a change of residence or workplace. '
 'Facilities to support product development or innovation initiatives.'
 'Facilities to support product development or innovation initiatives. '
 'Ensuring protection and well-being through measures that mitigate risks and prevent harm.'
 'Ensuring protection and well-being through measures that mitigate risks and prevent harm. '
 'Ensuring protection and well-being through measures that mitigate risks and prevent harm.  '
 'Innovations and tools used to facilitate tasks.'
 'Provide services to facilitate exploration for individuals.'
 'New Company Setup and Licensing'
 'Locating suitable tenants for residential or commercial properties, negotiating lease terms, and overseeing the leasing process.'
 'Secure necessary permits and approvals for construction or modifications to a property.'
 'Connect properties to essential services like electricity and water, and acquire No Objection Certificates (NOCs) from relevant authorities.'
 'Establish internet and phone infrastructure for business operations.'
 'Ensure the smooth functioning and maintenance of properties.'
 'Security measures to protect property, assets, and personnel.'
 ' Secure storage space for inventory.'
 'Organize the final stage of delivery from warehouse to customer location.'
 'Assist with customs regulations and procedures for importing and exporting goods.'
 'Assist businesses in establishing and managing online stores.'
 'Obtain work visas for foreign employees.'
 'Handle administrative tasks related to payroll, taxes, and immigration.'
 'Finding housing for employees.'
 'Offer assistance with marketing and promotional efforts.'
 ' Coordinating port logistics and operations.'
 'Arranging air transportation for goods.'
 'Enable citizens or permanent residents of a country to sponsor eligible family members for immigration, initiating the legal process to bring them to reside in the same country.'
 'Services that assist individuals in finding a job. '
 'Assist passengers with their travel needs including check-in support, luggage management, security checks, and access to airport lounges. '
 'Media']

In [ ]:
import pandas as pd
import mysql.connector as mc

# ── DB CONFIG ──────────────────────────────────────────────────────
HOST     = "127.0.0.1"
PORT     = 3306
USER     = "root"
PASSWORD = "rootpass"
SCHEMA   = "growbal"

# ── CONNECT ────────────────────────────────────────────────────────
cnx = mc.connect(
    host=HOST, port=PORT,
    user=USER, password=PASSWORD,
    database=SCHEMA,
    auth_plugin="mysql_native_password",
)
cur = cnx.cursor(dictionary=True)

# ── QUERY DATA FROM 'service' TABLE ────────────────────────────────
cur.execute(f"SELECT * FROM `{SCHEMA}`.`service`;")
data = cur.fetchall()

# ── CREATE DATAFRAME ────────────────────────────────────────────────
df_service = pd.DataFrame(data)

# ── DISPLAY ALL COLUMNS ──────────────────────────────────────────────
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
pd.set_option("display.max_colwidth", 120)

# ── DISPLAY UNIQUE PAIRS OF 'name' and 'description' ─────────────────
unique_pairs = df_service[['name', 'description']].drop_duplicates()

print(f"\nNumber of unique pairs: {len(unique_pairs)}")

print("\nUnique pairs of 'name' and 'description':")

print(unique_pairs)

# ── DISPLAY FIRST 200 ROWS OF DATAFRAME ──────────────────────────────
display(df_service.head(200))

cnx.close()

Number of unique pairs: 97

Unique pairs of 'name' and 'description':
                                                       name  \
0                                                     Legal
1                              Business Process Outsourcing
2                             New Company Setup & Licensing
3                       Investor, Business & Freelance Visa
5                                                   Finance
7                                                Consulting
9                                    Community & Recreation
12                       Real Estate, Housing & Hospitality
13                                                      Leh
14                                                     Lehh
15                                                 service
17                                                service 1
18                                               service 11
19                                               service 12
20                                           Legal Services
21                                   General Legal Services
22                                            General Legal
23                                     General Law Services
24                                        Banking & Finance
25                    Logistics and Transportation Services
26                                      Finance and banking
27                                              Real Estate
28                                       Travel and Tourism
29                                              Real Estate
30                                     Real Estate Services
31                                             Real estate
32                                  Real Estate & Residence
33                                Residence & Real Estate
34                                  Residence&Real Estate
35                                      Consulting Services
36                              Logistics & Transportation
37                                Logistics&Transportation
38                              Operations & Administration
39                                                   Retail
40                                                Education
41                                                Education
42                                               Education
43                                   Research & Development
45                                               Healthcare
46                                              Consulting
47                                        Banking & Finance
48                                       Banking & Finance
49                                              Education
50                                               Education
51                                              Education
52                                               Government
53                                              Government
54                                             Government
55                                              Healthcare
56                                              Healthcare
57                                             Healthcare
58                                              Hospitality
59                                             Hospitality
60                                Human Resource Management
61                               Human Resource Management
63                                                   Legal
64                                                   Legal
65                               Logistics & Transportation
66                             Logistics & Transportation
68                                        Marketing & Sales
69                                       Marketing & Sales
70                             Operations & Administration
71                                             Real Estate
72                                            Real Estate
73                                                  Retail
74                                               Relocation
75                                              Relocation
76                                             Relocation
77                                  Research & Development
78                                  Research & Development
79                                        Safety & Security
80                                       Safety & Security
81                                       Safety & Security
82                                      Safety & Security
83                                               Technology
85                                         Travel & Tourism
86                          New Company Setup and Licensing
87                                Property Leasing Services
88   Planning, Engineering & Construction Approval Services
89                            Utilities (Connection & NOCs)
90                        IT and Telecommunication Services
91                                      Facility Management
92                                        Security Services
93                                   Warehousing Solutions
94                              Last-Mile Delivery Services
95                            Customs Consulting & Services
96                                    Ecommerce Enablement
97                                          Employment Visa
98                                  Administrative Services
99                                      Staff Accommodation
100                              Marketing Support Services
101                                           Port Services
102                                      Air Cargo Services
103                                      Family Sponsorship
104                                  Job Search & Placement
105                                        Airport Services
106                                                   Media

                                                                                                                 description
0                                                                                                                      Legal
1                                                                                               Business Process Outsourcing
2                                                                                              New Company Setup & Licensing
3                                                                                       Investor, Business & Freelance Visa
5                                                                                                                    Finance
7                                                                                                                 Consulting
9                                                                                                     Community & Recreation
12                                                                                        Real Estate, Housing & Hospitality
13                                                                                                                       Leh
14                                                                                                                       Leh
15                                                                                                                  service
17                                                                                                                 service 1
18                                                                                                                service 11
19                                                                                                                service 12
20   Legal services encompass a diverse array of offerings provided by qualified legal professionals, including attorneys...
21   Legal services encompass a wide range of offerings designed to address the legal needs and concerns of individuals, ...
22   Legal services encompass a wide range of offerings designed to address the legal needs and concerns of individuals, ...
23   Legal services encompass a wide range of offerings designed to address the legal needs and concerns of individuals, ...
24   Financial institutions such as banks, investment firms, and insurance companies to provide capital, investment oppor...
25   Infrastructure and services to facilitate the movement of goods and people, including ports, airports, customs broke...
26                               This encompasses services that cover a wide range of financial activities and transactions.
27                        Help businesses find suitable office space, industrial facilities, and residential accommodations.
28                                                                                                                      None
29   Real estate encompasses the buying, selling, renting, and management of properties, including land, buildings, and o...
30   Real estate encompasses the buying, selling, renting, and management of properties, including land, buildings, and o...
31   Real estate encompasses the buying, selling, renting, and management of properties, including land, buildings, and o...
32                 Buying, selling, renting, and management of properties, including land, buildings, and other structures.
33             Real estate involves a spectrum of activities, including development, management, investment, and consulting.
34             Real estate involves a spectrum of activities, including development, management, investment, and consulting.
35                      A broad range of advisory services aimed at providing expertise and guidance across various domains.
36                            Cater to the needs of individuals or households for moving goods or people on a smaller scale.
37   Logistics and transportation services are tailored to meet the specific needs of businesses, optimizing supply chain...
38   Optimizing business operations and managing administrative tasks efficiently to enhance overall performance and prod...
39                                                                     Providing a range of goods and services to consumers.
40                                             A variety of educational offerings tailored to different needs and audiences.
41                                    Individual education services cater to the personalized learning needs of individuals.
42   Business education services target corporations and organizations, offering specialized training and development pro...
43         Process of exploring, innovating, and creating new products, services, and technologies to drive business growth.
45                        Provision of medical services aimed at promoting, maintaining, or restoring health and well-being.
46                        Expert advice and guidance to individuals and businesses to help them achieve specific objectives.
47                                                                                              Managing the flow of money.
48                                                                                             Managing the flow of money.
49   Education equips individuals with knowledge, skills, and values necessary for personal growth, civic engagement, and...
50   Education equips individuals with knowledge, skills, and values necessary for personal growth, civic engagement, and...
51   Education equips individuals with knowledge, skills, and values necessary for personal growth, civic engagement, and...
52                                 Legislate, create laws and resolute disputes within a society through judicial processes.
53                                Legislate, create laws and resolute disputes within a society through judicial processes.
54                               Legislate, create laws and resolute disputes within a society through judicial processes.
55                            Maintaining health through prevention, diagnosis & treatment of physical & mental impairments.
56                           Maintaining health through prevention, diagnosis & treatment of physical & mental impairments.
57                           Maintaining health through prevention, diagnosis & treatment of physical & mental impairments.
58                                                      Create a friendly and comfortable experience for guests or visitors.
59                                                     Create a friendly and comfortable experience for guests or visitors.
60   Strategic management of an organization's workforce to ensure their effective contribution towards achieving organiz...
61   Strategic management of an organization's workforce to ensure their effective contribution towards achieving organiz...
63                   A range of legal tasks, such as drafting legal documents and providing legal advice on various matters.
64                  A range of legal tasks, such as drafting legal documents and providing legal advice on various matters.
65                                                         Ensure the seamless movement of goods from one place to another.
66                                                        Ensure the seamless movement of goods from one place to another.
68                      Create awareness, generating interest, and converting leads into customers for a product or service.
69                     Create awareness, generating interest, and converting leads into customers for a product or service.
70                                                                    Management of operations and administrative functions.
71                                             This covers a wide range of properties and the services associated with them.
72                                            This covers a wide range of properties and the services associated with them.
73                                                                     Businesses that sell products directly to consumers.
74                      The process of moving from one place to another, often involving a change of residence or workplace.
75                     The process of moving from one place to another, often involving a change of residence or workplace.
76                     The process of moving from one place to another, often involving a change of residence or workplace.
77                                                      Facilities to support product development or innovation initiatives.
78                                                     Facilities to support product development or innovation initiatives.
79                                 Ensuring protection and well-being through measures that mitigate risks and prevent harm.
80                                 Ensuring protection and well-being through measures that mitigate risks and prevent harm.
81                                Ensuring protection and well-being through measures that mitigate risks and prevent harm.
82                               Ensuring protection and well-being through measures that mitigate risks and prevent harm.
83                                                                           Innovations and tools used to facilitate tasks.
85                                                               Provide services to facilitate exploration for individuals.
86                                                                                           New Company Setup and Licensing
87   Locating suitable tenants for residential or commercial properties, negotiating lease terms, and overseeing the leas...
88                                   Secure necessary permits and approvals for construction or modifications to a property.
89   Connect properties to essential services like electricity and water, and acquire No Objection Certificates (NOCs) fr...
90                                                      Establish internet and phone infrastructure for business operations.
91                                                              Ensure the smooth functioning and maintenance of properties.
92                                                             Security measures to protect property, assets, and personnel.
93                                                                                       Secure storage space for inventory.
94                                                 Organize the final stage of delivery from warehouse to customer location.
95                                         Assist with customs regulations and procedures for importing and exporting goods.
96                                                             Assist businesses in establishing and managing online stores.
97                                                                                  Obtain work visas for foreign employees.
98                                                   Handle administrative tasks related to payroll, taxes, and immigration.
99                                                                                            Finding housing for employees.
100                                                                 Offer assistance with marketing and promotional efforts.
101                                                                              Coordinating port logistics and operations.
102                                                                                  Arranging air transportation for goods.
103  Enable citizens or permanent residents of a country to sponsor eligible family members for immigration, initiating t...
104                                                                      Services that assist individuals in finding a job.
105  Assist passengers with their travel needs including check-in support, luggage management, security checks, and acces...
106                                                                                                                    Media

,id,description,name,type_establishment,image_id,type_service_id,offre_id,deleted
0,1,Legal,Legal,0,2,1,None,0
1,4,Business Process Outsourcing,Business Process Outsourcing,0,5,1,None,0
2,5,New Company Setup & Licensing,New Company Setup & Licensing,3,6,1,None,0
3,6,"Investor, Business & Freelance Visa","Investor, Business & Freelance Visa",3,7,1,None,0
4,7,Legal,Legal,0,528,2,None,1
5,8,Finance,Finance,0,1,1,None,0
6,9,Finance,Finance,0,1,3,None,0
7,10,Consulting,Consulting,0,1,1,None,0
8,11,Consulting,Consulting,0,1,3,None,1
9,12,Community & Recreation,Community & Recreation,0,1,1,None,0
10,13,Community & Recreation,Community & Recreation,0,1,2,None,0
11,14,Community & Recreation,Community & Recreation,0,1,3,None,0
12,15,"Real Estate, Housing & Hospitality","Real Estate, Housing & Hospitality",0,1,2,None,0
13,16,Leh,Leh,3,1,2,None,1
14,17,Leh,Lehh,3,1,2,None,1
15,18,service,service,0,1929,3,None,1
16,19,service,service,3,1930,2,None,1
17,20,service 1,service 1,3,1931,2,None,1
18,21,service 11,service 11,3,1933,2,None,1
19,22,service 12,service 12,3,1935,2,None,1
20,23,"Legal services encompass a diverse array of offerings provided by qualified legal professionals, including attorneys...",Legal Services,0,2080,2,None,1
21,24,"Legal services encompass a wide range of offerings designed to address the legal needs and concerns of individuals, ...",General Legal Services,0,2081,3,None,1
22,25,"Legal services encompass a wide range of offerings designed to address the legal needs and concerns of individuals, ...",General Legal,0,2085,3,None,1
23,26,"Legal services encompass a wide range of offerings designed to address the legal needs and concerns of individuals, ...",General Law Services,0,2086,3,None,1
24,27,"Financial institutions such as banks, investment firms, and insurance companies to provide capital, investment oppor...",Banking & Finance,3,2095,3,None,1
25,28,"Infrastructure and services to facilitate the movement of goods and people, including ports, airports, customs broke...",Logistics and Transportation Services,3,2096,3,None,1
26,29,This encompasses services that cover a wide range of financial activities and transactions.,Finance and banking,3,2097,1,None,1
27,30,"Help businesses find suitable office space, industrial facilities, and residential accommodations.",Real Estate,3,2098,3,None,1
28,31,None,Travel and Tourism,3,2099,3,None,1
29,32,"Real estate encompasses the buying, selling, renting, and management of properties, including land, buildings, and o...",Real Estate,0,2101,1,None,1
30,33,"Real estate encompasses the buying, selling, renting, and management of properties, including land, buildings, and o...",Real Estate Services,3,2103,3,None,1
31,34,"Real estate encompasses the buying, selling, renting, and management of properties, including land, buildings, and o...",Real estate,3,2104,3,None,1
32,35,"Buying, selling, renting, and management of properties, including land, buildings, and other structures.",Real Estate & Residence,3,2110,3,None,1
33,36,"Real estate involves a spectrum of activities, including development, management, investment, and consulting.",Residence & Real Estate,3,2112,3,None,1
34,37,"Real estate involves a spectrum of activities, including development, management, investment, and consulting.",Residence&Real Estate,3,2116,3,None,1
35,38,A broad range of advisory services aimed at providing expertise and guidance across various domains.,Consulting Services,0,2117,3,None,1
36,39,Cater to the needs of individuals or households for moving goods or people on a smaller scale.,Logistics & Transportation,3,2118,2,None,1
37,40,"Logistics and transportation services are tailored to meet the specific needs of businesses, optimizing supply chain...",Logistics&Transportation,3,2119,1,None,1
38,41,Optimizing business operations and managing administrative tasks efficiently to enhance overall performance and prod...,Operations & Administration,3,2120,1,None,1
39,42,Providing a range of goods and services to consumers.,Retail,3,2139,3,None,1
40,43,A variety of educational offerings tailored to different needs and audiences.,Education,3,2140,3,None,1
41,44,Individual education services cater to the personalized learning needs of individuals.,Education,3,2141,2,None,1
42,45,"Business education services target corporations and organizations, offering specialized training and development pro...",Education,3,2142,1,None,1
43,46,"Process of exploring, innovating, and creating new products, services, and technologies to drive business growth.",Research & Development,3,2143,1,None,1
44,47,"Process of exploring, innovating, and creating new products, services, and technologies to drive business growth.",Research & Development,3,2144,3,None,1
45,48,"Provision of medical services aimed at promoting, maintaining, or restoring health and well-being.",Healthcare,0,2145,3,None,1
46,49,Expert advice and guidance to individuals and businesses to help them achieve specific objectives.,Consulting,0,2148,3,None,0
47,50,Managing the flow of money.,Banking & Finance,0,2149,1,None,0
48,51,Managing the flow of money.,Banking & Finance,0,2150,3,None,0
49,52,"Education equips individuals with knowledge, skills, and values necessary for personal growth, civic engagement, and...",Education,0,2152,1,None,0
50,53,"Education equips individuals with knowledge, skills, and values necessary for personal growth, civic engagement, and...",Education,0,2153,2,None,0
51,54,"Education equips individuals with knowledge, skills, and values necessary for personal growth, civic engagement, and...",Education,0,2155,3,None,0
52,55,"Legislate, create laws and resolute disputes within a society through judicial processes.",Government,0,2156,1,None,0
53,56,"Legislate, create laws and resolute disputes within a society through judicial processes.",Government,0,2157,2,None,0
54,57,"Legislate, create laws and resolute disputes within a society through judicial processes.",Government,0,2158,3,None,0
55,58,"Maintaining health through prevention, diagnosis & treatment of physical & mental impairments.",Healthcare,0,2159,1,None,0
56,59,"Maintaining health through prevention, diagnosis & treatment of physical & mental impairments.",Healthcare,0,2160,2,None,0
57,60,"Maintaining health through prevention, diagnosis & treatment of physical & mental impairments.",Healthcare,0,2161,3,None,0
58,61,Create a friendly and comfortable experience for guests or visitors.,Hospitality,0,2162,1,None,0
59,62,Create a friendly and comfortable experience for guests or visitors.,Hospitality,0,2163,3,None,0
60,63,Strategic management of an organization's workforce to ensure their effective contribution towards achieving organiz...,Human Resource Management,0,2164,1,None,0
61,64,Strategic management of an organization's workforce to ensure their effective contribution towards achieving organiz...,Human Resource Management,0,2165,2,None,0
62,65,Strategic management of an organization's workforce to ensure their effective contribution towards achieving organiz...,Human Resource Management,0,2166,3,None,0
63,66,"A range of legal tasks, such as drafting legal documents and providing legal advice on various matters.",Legal,0,2167,2,None,0
64,67,"A range of legal tasks, such as drafting legal documents and providing legal advice on various matters.",Legal,0,2168,3,None,0
65,68,Ensure the seamless movement of goods from one place to another.,Logistics & Transportation,0,2169,1,None,0
66,69,Ensure the seamless movement of goods from one place to another.,Logistics & Transportation,0,2172,2,None,0
67,70,Ensure the seamless movement of goods from one place to another.,Logistics & Transportation,0,2173,3,None,0
68,71,"Create awareness, generating interest, and converting leads into customers for a product or service.",Marketing & Sales,0,2174,1,None,0
69,72,"Create awareness, generating interest, and converting leads into customers for a product or service.",Marketing & Sales,0,2175,3,None,0
70,73,Management of operations and administrative functions.,Operations & Administration,0,2177,1,None,0
71,74,This covers a wide range of properties and the services associated with them.,Real Estate,0,2178,1,None,0
72,75,This covers a wide range of properties and the services associated with them.,Real Estate,0,2182,3,None,0
73,76,Businesses that sell products directly to consumers.,Retail,0,2184,3,None,0
74,77,"The process of moving from one place to another, often involving a change of residence or workplace.",Relocation,0,2185,1,None,0
75,78,"The process of moving from one place to another, often involving a change of residence or workplace.",Relocation,0,2186,2,None,0
76,79,"The process of moving from one place to another, often involving a change of residence or workplace.",Relocation,0,2187,3,None,0
77,80,Facilities to support product development or innovation initiatives.,Research & Development,0,2188,1,None,0
78,81,Facilities to support product development or innovation initiatives.,Research & Development,0,2189,3,None,0
79,82,Ensuring protection and well-being through measures that mitigate risks and prevent harm.,Safety & Security,0,2190,1,None,1
80,83,Ensuring protection and well-being through measures that mitigate risks and prevent harm.,Safety & Security,0,2191,1,None,1
81,84,Ensuring protection and well-being through measures that mitigate risks and prevent harm.,Safety & Security,0,2192,3,None,0
82,85,Ensuring protection and well-being through measures that mitigate risks and prevent harm.,Safety & Security,0,2193,1,None,0
83,86,Innovations and tools used to facilitate tasks.,Technology,0,2194,3,None,0
84,87,Innovations and tools used to facilitate tasks.,Technology,0,2196,1,None,0
85,88,Provide services to facilitate exploration for individuals.,Travel & Tourism,0,2197,3,None,0
86,89,New Company Setup and Licensing,New Company Setup and Licensing,0,2219,1,None,0
87,90,"Locating suitable tenants for residential or commercial properties, negotiating lease terms, and overseeing the leas...",Property Leasing Services,3,2229,1,None,0
88,91,Secure necessary permits and approvals for construction or modifications to a property.,"Planning, Engineering & Construction Approval Services",3,2230,1,None,0
89,92,"Connect properties to essential services like electricity and water, and acquire No Objection Certificates (NOCs) fr...",Utilities (Connection & NOCs),3,2231,1,None,0
90,93,Establish internet and phone infrastructure for business operations.,IT and Telecommunication Services,3,2232,1,None,0
91,94,Ensure the smooth functioning and maintenance of properties.,Facility Management,3,2233,1,None,0
92,95,"Security measures to protect property, assets, and personnel.",Security Services,3,2234,1,None,0
93,96,Secure storage space for inventory.,Warehousing Solutions,3,2235,1,None,0
94,97,Organize the final stage of delivery from warehouse to customer location.,Last-Mile Delivery Services,3,2236,1,None,0
95,98,Assist with customs regulations and procedures for importing and exporting goods.,Customs Consulting & Services,3,2237,1,None,0
96,99,Assist businesses in establishing and managing online stores.,Ecommerce Enablement,3,2238,1,None,0
97,100,Obtain work visas for foreign employees.,Employment Visa,3,2239,1,None,0
98,101,"Handle administrative tasks related to payroll, taxes, and immigration.",Administrative Services,3,2240,1,None,0
99,102,Finding housing for employees.,Staff Accommodation,3,2241,1,None,0
100,103,Offer assistance with marketing and promotional efforts.,Marketing Support Services,3,2242,1,None,0
101,104,Coordinating port logistics and operations.,Port Services,3,2243,1,None,0
102,105,Arranging air transportation for goods.,Air Cargo Services,3,2244,1,None,0
103,106,"Enable citizens or permanent residents of a country to sponsor eligible family members for immigration, initiating t...",Family Sponsorship,3,2245,2,None,0
104,107,Services that assist individuals in finding a job.,Job Search & Placement,3,2246,2,None,0
105,108,"Assist passengers with their travel needs including check-in support, luggage management, security checks, and acces...",Airport Services,3,2247,3,None,0
106,109,Media,Media,3,2323,3,None,0

In [5]:
import os
import mysql.connector as mc
from mysql.connector import Error
import pandas as pd      # optional, only if you like DataFrames

HOST     = os.getenv("MYSQL_HOST", "127.0.0.1")
PORT     = int(os.getenv("MYSQL_PORT", "3306"))
USER     = os.getenv("MYSQL_USER", "root")
PASSWORD = os.getenv("MYSQL_PWD", "rootpass")
SCHEMA   = "growbal"

try:
    cnx = mc.connect(
        host=HOST,
        port=PORT,
        user=USER,
        password=PASSWORD,
        database=SCHEMA,
        auth_plugin="mysql_native_password",  # often required for 8.x
    )
    with cnx.cursor(dictionary=True) as cur:
        cur.execute("""
            SELECT table_name, table_rows
            FROM information_schema.tables
            WHERE table_schema = %s
            ORDER BY table_rows DESC
        """, (SCHEMA,))
        top_tables = cur.fetchall()

    # Pretty print or convert to a DataFrame
    df = pd.DataFrame(top_tables)
    # print(df.to_markdown(index=False))
    display(df)

finally:
    if cnx.is_connected():
        cnx.close()

                           TABLE_NAME  TABLE_ROWS
0                                 ads           0
1                          advantages           0
2                 advantages_subtitle           0
3     agent_interest_investor_request           0
4                           attach_to           0
5                     benefit_program           0
6                            benefits           0
7                                bill           0
8                   block_agent_by_ez           0
9                                blog           0
10                      business_type           0
11                             button           0
12                        category_ez           0
13          category_ez_establishment           0
14              citizenship_residency           0
15                               city           0
16                          countries           0
17                country_diversities           0
18          country_domestic_products           0
19            country_explore_section           0
20               country_hero_section           0
21                  country_over_view           0
22                       country_page           0
23                    country_sectors           0
24                 country_url_videos           0
25                         discussion           0
26                      economic_zone           0
27               element_sous_service           0
28                      establishment           0
29                establishment_agent           0
30   establishment_discussion_members           0
31     establishment_message_receiver           0
32              establishment_program           0
33             establishment_services           0
34             etablishment_attach_to           0
35      etablishment_element_services           0
36             etablishment_interests           0
37    etablishment_sector_of_activity           0
38         etablishment_sous_services           0
39                         experience           0
40                          feed_back           0
41                       hero_section           0
42                           industry           0
43                           inquiery           0
44                          interests           0
45     investor_interest_agent_offres           0
46                        key_numbers           0
47                          key_value           0
48         landing_citi_zen_ship_page           0
49                 landing_page_agent           0
50                    landing_page_ez           0
51                   landing_tax_page           0
52                              media           0
53                   media_collection           0
54                            message           0
55                      message_ordre           0
56                       notification           0
57                              offre           0
58                            options           0
59                options_requirement           0
60                  options_sub_title           0
61                              ordre           0
62                     ordre_services           0
63                   partner_featured           0
64               password_reset_token           0
65                            payment           0
66                               plan           0
67                          plan_rule           0
68                          plan_type           0
69                           position           0
70                              posts           0
71                       process_time           0
72                            profile           0
73          profile_collection_medias           0
74                  profile_documents           0
75                   profile_new_jobs           0
76                            program           0
77                      program_offre           0
78                        promo_codes           0
79                             region           0
80                        requirement           0
81              residency_visa_option           0
82                     ressource_user           0
83                               rule           0
84                 sector_of_activity           0
85                            service           0
86                      service_offre           0
87                       social_media           0
88                       sous_service           0
89                              steps           0
90                       subscription           0
91            subscription_new_letter           0
92                      subscriptions           0
93            supported_country_agent           0
94             supported_region_agent           0
95                               task           0
96                        task_sector           0
97                                tax           0
98                       tax_benefits           0
99                        tax_service           0
100                              taxs           0
101                     trusted_agent           0
102                           type_ez           0
103                      type_service           0
104                              user           0
105                 user_notification           0
106                verification_agent           0
107                      visa_options           0
108             visa_options_benefits           0
109           visa_options_conditions           0
110                         visa_type           0
111                          visitors           0

In [6]:
from graphviz import Digraph

dot = Digraph(format="png")
dot.attr(rankdir="TB")  # Top-to-bottom layout (use "LR" for left-to-right)
# Optionally set graph attributes like size, splines for styling
dot.attr(size="10,10!", splines="ortho")

# For each table, create an HTML-like label with a table of columns
for table in tables:
    columns = schema[table]['columns']  # e.g. list of (col_name, col_type, is_pk)
    label = f"""<<TABLE BORDER="1" CELLBORDER="1" CELLSPACING="0">
                   <TR><TD BGCOLOR="lightblue"><B>{table}</B></TD></TR>"""
    for col_name, col_type, is_pk in columns:
        col_display = f"{col_name} ({col_type})"
        if is_pk:
            col_display = f"<B>{col_display}</B>"  # highlight PK in bold
        # Use a PORT on the TD to allow linking to this specific column
        label += f'<TR><TD ALIGN="LEFT" PORT="{col_name}">{col_display}</TD></TR>'
    label += "</TABLE>>"
    dot.node(table, label=label, shape="plaintext")

NameError: name 'tables' is not defined